Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Changelog bot 2025-12-08T13:52:23+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

add frontend handlers for s3 worker scripts
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/server.py
Due: mypy

add forgot docstring
  swift_browser_ui/ui/front.py
Due: mypy

fix download js map url
  swift_browser_ui/ui/server.py
Due: mypy

Changelog bot 2025-12-15T09:07:59+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix nginx conf
  devproxy/nginx.conf
Due: none

Changelog bot 2025-12-15T09:30:35+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

cherry-pick lost serviceworker path parsing
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

Changelog bot 2025-12-15T10:02:45+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update object table after object deletion
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Remove remaining reliance on IDB objects. Increase max line length in linting
  swift_browser_ui_frontend/eslint.config.mjs
  swift_browser_ui_frontend/src/common/db.js
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Changelog bot 2025-12-17T17:38:13+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

don't fail bulk operations on exceptions, just log them
  swift_browser_ui/ui/api.py
Due: mypy

Changelog bot 2025-12-18T13:37:59+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Add missing import in s3conv
  swift_browser_ui_frontend/src/common/s3conv.js
Due: eslint

Refactor old swift ACL sync to use S3 bucketpolicies instead
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Catch uncaught error, improve code readability
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Fix missing principal on some bucket statements
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

fix wrong headerworker static path
  swift_browser_ui/ui/front.py
Due: mypy

Changelog bot 2025-12-18T14:28:53+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Move frontend s3 client initialization out of main.js
  swift_browser_ui_frontend/src/common/s3init.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Fix undefined working dir path in Makefile for Ubuntu22
  Makefile
Due: none

Update gitignore
  .gitignore
Due: none

Restructure S3 related functions. Wrap S3 commands to make sure frontend s3 client is initialized beforehand.
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3init.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Changelog bot 2025-12-29T09:45:27+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

allow download based on object count instead of object bytes
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

fix legacy object downloads not working
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

Changelog bot 2026-01-07T15:26:27+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix incorrect last segment padding
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

Changelog bot 2026-01-07T16:46:40+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Purge SD Submit related robot account config and bucket policy granting
  .github/config/.env.test
  devproxy/nginx.conf
  docker-compose-dev.yml
  swift_browser_ui/ui/discover.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

Changelog bot 2026-01-08T11:08:40+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Remove bulma stylesheets. Remove sass dependency and use plain css for styling.
  docs/source/tools.rst
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/MainToolbar.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/dark.scss
  swift_browser_ui_frontend/src/css/external.sass
  swift_browser_ui_frontend/src/css/light.scss
  swift_browser_ui_frontend/src/css/prod.scss
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/vite.config.js
Due: eslint, pyspelling-docs

Changelog bot 2026-01-08T13:42:12+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Display error alert on download abort on Firefox
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

Fix share modal stuck on loading on sharing fail
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

Fix persistent loader after project-level upload
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix error retrieving ec2 credentials
  swift_browser_ui/ui/api.py
Due: mypy
