Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

throttle progress updates
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

add test data to dockerignore
  .dockerignore
Due: none

fix version for release
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

update uvlopo
  pyproject.toml
  requirements.txt
Due: none

revert uvloop version bump
  pyproject.toml
  requirements.txt
Due: none

ensure bucket owner retains control of objects when sharing
  swift_browser_ui/ui/api.py
Due: mypy

fix upload and download progress and cancellation
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-headers.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

Cherry-pick merge branch 'bugfix/project-level-upload' into feature/add-s3-support
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
Due: eslint, pyspelling-frontend

Apply 1 suggestion(s) to 1 file(s)
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

Apply 3 suggestion(s) to 3 file(s)
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

fix incorrect bucket name addressing in DeleteModal
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Changelog bot 2025-12-08T13:08:42+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

add initial fix for bucket access over cors
  devproxy/nginx.conf
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

increment redis version
  docker-compose-dev.yml
Due: none

improve initial bucket view rendering performance
  swift_browser_ui/ui/api.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

Fix bucket creation showing error toast mistakenly
  swift_browser_ui_frontend/src/common/api.js
Due: eslint

fix new worker urls
  swift_browser_ui/ui/front.py
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint, mypy

Fix bucket policies to apply to objects
  swift_browser_ui_frontend/src/common/api.js
Due: eslint

Catch share errors resulting from non-existent segments buckets
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

use correct project name when fetching download headers
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

Add copied bucket cors
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint

add test-data bindings to chrome image
  devproxy/Dockerfile-chrome
  docker-compose-dev.yml
Due: none

don't load workers from static routes when in development mode
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

add webapp cors as a parameter for local example environment
  .github/config/.env.test
Due: none

use the dev url as the hardcoded cors origin
  swift_browser_ui/ui/settings.py
Due: mypy

Changelog bot 2025-12-08T13:33:13+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix object listing performance by moving to s3
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

fix incorrect bulk cors delimiter
  swift_browser_ui_frontend/src/common/api.js
Due: eslint

prune old swift object listings from frontend
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

fix object loader not clearing after upload
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

fix bucket rendering performance
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

implicitly add CORS to freshly created buckets
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
Due: eslint

remove unnecessary db object deletion
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

fix missing files on download due to IndexedDB latency
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

remove old swift code from backend api
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
Due: mypy

fix incorrect exception handling in upload bucket creation
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

remove old upload and download worker frontend scripts
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/server.py
Due: mypy

remove old upload and download socket
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

fix embarassing race condition in main init
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

remove unused import from mdi
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
