Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Add icons to alerts
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Refactor. Clear download progress after successful download.
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Trim whitespace
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Add missing curly bracket for function beginDownloadInSession
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Change perm order and update EN lang
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, pyspelling-frontend

Add c-option to show perm descriptions. Reset c-select after perm submission.
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Add perm description to perm change warning. Update share guide.
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, pyspelling-frontend

Update sharing permission text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Add Finnish translation for Accessibility statement
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-docs, pyspelling-frontend

Update finnishwords.txt. Remove repeated words
  .github/config/.finnishwords.txt
Due: sort

Remove space after specific characters
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Fix Finnish translation
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

add deployment docs
  DEPLOYMENT.md
Due: pyspelling-docs

Modify assets links' names to be able to copy for docker images
  .gitlab-ci.yml
Due: none

Skip: Update all non-major dependencies
  .github/workflows/pre-commit.yml
  .github/workflows/spellcheck.yml
  pyproject.toml
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency docs/sphinx to v7
  pyproject.toml
Due: none

unify name and identifier tokens
  .github/config/init-project-db.sh
  CHANGELOG.md
  swift_browser_ui/common/db.py
  swift_browser_ui/sharing/api.py
  swift_browser_ui/ui/signature.py
Due: mypy, pyspelling-docs

add external API token lifetime checks
  .github/config/init-project-db.sh
  swift_browser_ui/common/db.py
  swift_browser_ui/sharing/api.py
  tests/sharing/test_api.py
Due: mypy

update token copy message to include the token lifetime
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

fix eslint suppression for no-prototype-builtins
  swift_browser_ui_frontend/vite.config.js
Due: eslint

fix rebase leftover
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

remove eslint supression from Cypress a test file and configuration
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/plugins/index.js
Due: eslint

fix sharing tooltip eslint v-html warning with i18n tag
  .github/config/.wordlist.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, sort, pyspelling-frontend

use i18n-t tags instead of v-html
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

refactor eslint configuration to allow camelcase for footerOptions
  swift_browser_ui_frontend/.eslintrc.json
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fix order off component ShareModalTableattributes to comply Vue style guide
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

add CHANGELOG changes addition
  CHANGELOG.md
Due: pyspelling-docs

fix removing v-html from shareguide list
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

add global scope for i18n-t tags
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

replace v-html span closing tag with self-closing tag
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Skip: Refactor/remove old upload from frontend
  CHANGELOG.md
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadProgressBar.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, pyspelling-docs, pyspelling-frontend

Fix view-destination link not working with shared containers
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Remove ustar limit checks
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-frontend

Initial gnu tar header implementation. Enable unlimited container and object names
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

Restore the size of long name header block
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

fix unit test issues after buffering changes
  swift_browser_ui/ui/api.py
  swift_browser_ui_frontend/wasm/src/include/upinit.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/test/test_streamingdownload.c
Due: eslint, mypy

Add file size to tar header for files over 8gib
  swift_browser_ui_frontend/.eslintrc.json
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
