Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Direct worker logs to app console instance. Clean up logs
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-headers.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

Remove conditional logging to console based on mode. Use appropriate console methods.
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/idb.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3init.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/vite.config.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

Changelog bot 2026-08-11T16:13:29+03:00
  CHANGELOG.md
Due: pyspelling-docs

Fix unintended bucket share fail notification showing
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Changelog bot 2026-08-12T13:57:13+03:00
  CHANGELOG.md
Due: pyspelling-docs

prevent forging request with a user session for invalid projects
  swift_browser_ui/ui/signature.py
Due: mypy

update tests according to the desired behavior of signature handler
  tests/common/mockups.py
  tests/ui_unit/test_signature.py
Due: none

Changelog bot 2026-08-20T07:32:01+00:00
  CHANGELOG.md
Due: pyspelling-docs

Update dependency vue to v3.5.41
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Undo non-urgent conversion status change
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

[skip ci] update tests according to the desired behavior of signature handler
  tests/common/mockups.py
  tests/ui_unit/test_signature.py
Due: none

Changelog bot 2026-08-20T09:21:54+00:00
  CHANGELOG.md
Due: pyspelling-docs

add version update indicator to automatically bump versioning
  .gitlab-ci.yml
Due: none

Chore: automatically update versions [ci skip]
  openapi.yaml
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

Changelog bot 2026-08-21T10:33:41+00:00
  CHANGELOG.md
Due: pyspelling-docs

Update new version date
  swift_browser_ui_frontend/config/config.js
Due: eslint

Changelog bot 2026-09-01T09:52:13+03:00
  CHANGELOG.md
Due: pyspelling-docs

fix frontend tests breaking due to incorrectly formatted session
  tests/ui_unit/test_front.py
Due: none

filter out sensitive login information from logs
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/middlewares.py
Due: mypy

add a censor function for logging sessions
  swift_browser_ui/ui/_convenience.py
  tests/ui_unit/test_convenience.py
Due: mypy

Changelog bot 2026-09-22T12:32:40+00:00
  CHANGELOG.md
Due: pyspelling-docs

disable in-bucket-sharing for urgent buckets
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Changelog bot 2026-09-23T12:49:27+03:00
  CHANGELOG.md
Due: pyspelling-docs

Fix wrong conversion need status on shared buckets due to invalid _segments share entry addition to db
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Fix retrieving wrong public key when uploading to shared bucket
  swift_browser_ui/upload/api.py
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, mypy

Fix wrong conversion need status due to no creation date on shared buckets
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Fix console errors on object view reload
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix wrong router view on a shared bucket after deletion
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Changelog bot 2026-09-23T15:46:08+03:00
  CHANGELOG.md
Due: pyspelling-docs

Fix converted bucket status shown as not converted
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Changelog bot 2026-09-24T15:21:10+03:00
  CHANGELOG.md
Due: pyspelling-docs

fix cross-project key access after flipping for-param semantics
  swift_browser_ui/common/common_middleware.py
Due: mypy

Changelog bot 2026-09-24T15:41:48+03:00
  CHANGELOG.md
Due: pyspelling-docs

add comment as a dummy commit
  swift_browser_ui/common/common_middleware.py
Due: mypy
