Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

support range header for object queries
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/server.py
Due: mypy

iterate object downloads over multiple byte ranges
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

fix maxOctal off-by-one
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

fix incorrect filtering of files when downloading from selection
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Changelog bot 2024-03-13T14:22:26+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Prevent a 404 after deleting a subfolder
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Changelog bot 2024-03-14T07:35:32+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update CHANGELOG manually for better formatting
  CHANGELOG.md
Due: pyspelling-docs

purge old upload and download code
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/download.py
  swift_browser_ui/upload/server.py
  swift_browser_ui/upload/upload.py
  tests/upload/test_api.py
  tests/upload/test_common.py
  tests/upload/test_download.py
  tests/upload/test_upload.py
Due: mypy

Changelog bot 2024-03-14T10:45:54+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency @intlify/unplugin-vue-i18n to v3
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Return correct bytes and counts from response headers in production
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Changelog bot 2024-03-20T10:35:41+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Add configuration to delete databases in cypress tests
  .github/config/.wordlist.txt
  README.md
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  tests/cypress/integration/browser.cy.js
  tests/cypress/support/delete-swiftContainers.sh
Due: eslint, sort, pyspelling-docs

Update with more instruction to get the resetDB run
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/support/delete-swiftContainers.sh
Due: eslint

Changelog bot 2024-03-20T15:02:10+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix mispelt function name
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
Due: eslint

Clear previous upload if uploading same file to same container
  swift_browser_ui/upload/cryptupload.py
Due: mypy

Fix unit tests to accomodate the bug fix
  tests/upload/test_api.py
  tests/upload/test_cryptupload.py
Due: none

Changelog bot 2024-03-27T14:07:48+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

display indeterminate phase in download notification during header fetch
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint, sort, pyspelling-frontend

hide temp file warning from firefox users
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

only display header gathering message on firefox
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Changelog bot 2024-03-27T14:21:27+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency test/black to v24 [SECURITY]
  pyproject.toml
Due: none

Enable cancelling download while fetching headers
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Enable direct download cancellation
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-frontend

Changelog bot 2024-04-02T11:23:29+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  .github/workflows/dependency-auto-merge.yml
  pyproject.toml
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Remove file-to-overwrite when drop file is removed. Fix file overwrite warning not showing a second time
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Changelog bot 2024-04-03T07:47:28+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix delete-wait-alert flashing when deleting few files
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Add waiting alert for object deletion
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint, sort, pyspelling-frontend

Amend delete-wait alert appearance timing
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Changelog bot 2024-04-05T07:03:51+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Remove whitespace from changelog, add issue no
  CHANGELOG.md
Due: pyspelling-docs

Get updated object count for download
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Changelog bot 2024-04-09T10:19:34+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs
