Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Remove unneeded keyboard navigation fixes
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Fix toolbar link and error page styling for csc-ui v3
  swift_browser_ui_frontend/src/components/MainToolbar.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

Fix share permissions not displayed correctly in table
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Remove hacky c-select styling. Make v3 c-select wrap sharing options
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Fix toasts for csc-ui v3
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Simplify capturing keyboard navigation inside modals
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix side navigation for csc-ui v3
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint

Unify capturing modal content for all modals. Remove rest of old keyboard nav fixes.
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint

Fix ProgressToast closing button width
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

Fix missing margin in ProgressAlert
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
Due: eslint

Fix c-login-card content not filling parent and causing a doubled border
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
Due: eslint

Return project list with empty titles when request to LDAP fails
  swift_browser_ui/ui/api.py
Due: mypy

Fix modal closing with esc key
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Fix API key modal overflow. Add tabindex on div because navigation menu click events cannot be captured and propagate to modal closing button on Chrome.
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
Due: eslint

Fix disabled container options button able to triger menu opening
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Prevent open c-select from hiding body overflow
  swift_browser_ui_frontend/src/assets/main.css
Due: eslint

Make TagInput font size correspond to c-select label
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint

Changelog bot 2026-05-12T06:48:53+00:00
  CHANGELOG.md
Due: pyspelling-docs

Delete stale shares from vault
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Trim whitespace from API key modal name
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
Due: eslint

Changelog bot 2026-05-29T06:47:24+00:00
  CHANGELOG.md
Due: pyspelling-docs

Don't show notDecryptable alert if only migration success report is undecryptable
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

Fix migration report download as a single file failing
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Changelog bot 2026-06-03T07:50:10+00:00
  CHANGELOG.md
Due: pyspelling-docs

make nssdb init the default behavior
  devproxy/Dockerfile-chrome
Due: none

enable ci mode for pnpm to silence confirmations
  Procfile
Due: none

remove aggregator serviceworker as unnecessary
  swift_browser_ui_frontend/public/aggregatorsw.js
Due: eslint

add node module and public folder cleanup before build
  Makefile
Due: none

add pnpm workspace
  swift_browser_ui_frontend/pnpm-workspace.yaml
Due: eslint

update ui container pnpm and node versions
  devproxy/Dockerfile-ui
Due: none

add default branch to submodule
  .gitmodules
Due: none

add macos safeguards for volume mounts
  Makefile
Due: none

update documentation
  README.md
Due: pyspelling-docs

force linux/amd64 for the dev ui container
  docker-compose-dev.yml
Due: none

separate deps checks for allas and ceph, add environment toggle
  Makefile
Due: none

add allas running instuctions
  README.md
Due: pyspelling-docs

update and clarify running instructions
  README.md
Due: pyspelling-docs

fix hashbang to be more compatible
  scripts/gen_ca.sh
Due: none

fix typo in instuctions
  README.md
Due: pyspelling-docs

add target for removing dangling chromium lock files
  Makefile
Due: none

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
