Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Hide showTimestamp option from bucket view
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Changelog bot 2026-01-21T12:47:38+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix bucket table sorting
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Revert to max 500 buckets for table data without pagination
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Remove sorting by shared status from bucket view
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Move bucket actions to the end of row
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Increase default table itemsPerPage to 50
  swift_browser_ui_frontend/src/common/tableFunctions.js
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Fix missing bucket metadata due to indiscriminate overwrite
  swift_browser_ui_frontend/src/common/idbFunctions.js
Due: eslint

Fix bucket action buttons not being disabled with view perm
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Changelog bot 2026-01-22T09:37:58+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

only sync SD Connect share policies to sharing db
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Changelog bot 2026-01-22T09:52:56+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix newly created bucket addition to idb
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
Due: eslint

block upload button until workers have loaded
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-01-22T14:07:37+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

display header operation progress in toast
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-01-23T12:45:45+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

reduce max simultaneous header request limit to 8
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

Changelog bot 2026-01-23T13:30:47+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

change upload button diabled state text
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

reduce the chance of false positives in upload modal failure check
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Changelog bot 2026-01-26T10:06:13+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Add interruptible keyword to pipeline jobs
  .gitlab-ci.yml
Due: none

Changelog bot 2026-01-26T08:23:16+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Apply 1 suggestion(s) to 1 file(s)
  swift_browser_ui/ui/replicate.py
Due: mypy

Add header copy from previous implementation to bucket copy
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/replicate.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint, mypy

Changelog bot 2026-01-30T06:30:17+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix missing import
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Changelog bot 2026-01-30T14:58:41+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update copy toast text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-02-03T08:13:08+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Remove sphinx docs
  .github/workflows/docs.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .pyspelling.yml
  CODEOWNERS
  docs/Makefile
  docs/charts/API_flow.dia
  docs/charts/API_flow.svg
  docs/charts/WebSSO_login.dia
  docs/charts/WebSSO_login.svg
  docs/make.bat
  docs/source/_static/images/API_flow.svg
  docs/source/_static/images/WebSSO_login.svg
  docs/source/_static/images/container-share-view.png
  docs/source/_static/images/replication-view.png
  docs/source/_static/images/screenshot-dashboard
  docs/source/_static/images/screenshot-front-page
  docs/source/_static/images/screenshot-login-page
  docs/source/_static/images/screenshot-object-details
  docs/source/_static/images/screenshot-object-page
  docs/source/_static/images/shared-out-view.png
  docs/source/_static/images/shared-to-view.png
  docs/source/_static/images/sharing-request-view.png
  docs/source/_static/style.css
  docs/source/conf.py
  docs/source/deploy.rst
  docs/source/index.rst
  docs/source/instructions.rst
  docs/source/request.rst
  docs/source/runner.rst
  docs/source/sharing.rst
  docs/source/tech.rst
  docs/source/testing.rst
  docs/source/tools.rst
  docs/source/ui.rst
  docs/source/usage.rst
  openapi.yaml
  pyproject.toml
  tox.ini
Due: pyspelling-docs

Update env file
  .github/config/.env.test
Due: none

Add dependency checks
  Makefile
Due: none

move pyenv initialization out of normal commands
  README.md
Due: pyspelling-docs

no fun allowed
  README.md
Due: pyspelling-docs

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: pyspelling-docs
