Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Fix for share button not always working
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Subfolder page
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, pyspelling-frontend

Added missing codes for enabling/disabling Upload button
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

reverted changes from a manual rebase
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Deleting share access was missing handling of segments container
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Update CHANGELOG
  CHANGELOG.md
Due: pyspelling-docs

Remove duplicate code, add back toast
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

fixed sharing status
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

changed error messages
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint, pyspelling-frontend

updated word config
  .github/config/.finnishwords.txt
Due: sort

fixed routing on wrong urls
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint, pyspelling-frontend

added finnish translation
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

moved error handling to nav guards
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

added db check
  swift_browser_ui_frontend/src/common/router.js
Due: eslint

fixed navguard bug
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

Update error pages
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint, pyspelling-frontend

Update FIN vocabulary
  .github/config/.finnishwords.txt
Due: sort

fixed routing on wrong urls
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

moved error handling to nav guards
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

simplified routing
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

changed checkProject
  swift_browser_ui_frontend/src/common/router.js
Due: eslint

added next to checkContainer
  swift_browser_ui_frontend/src/common/router.js
Due: eslint

Restore TokenModal
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
Due: eslint

update lockfile
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Unify delete buttons in tables
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

No disabling of buttons in CreateModal and CopyModal
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint, sort

Add bolding to share intructions and change invalid share ID text
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

Show full width of c-select in share table
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Fix FIN vocabulary after rebase
  .github/config/.finnishwords.txt
Due: sort

Stop loader spinning after overwriting files with upload
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Variable c-alert text depending on amount of files to overwrite. Disallow overwrite file duplicates
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Let user overwrite or skip uploading when own container already has objs with same path
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Delete old segments before overwriting objects with upload
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Computed var for readability
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
