Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Get search results matching query
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Don't form tokens out of all object path. If no tokens are formed, leave original string as token
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Fix extended alphabet chars not getting highlighted
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Only search if user provides min 2 char trimmed input
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Fix subfolder item count since tokens not made from whole path
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Fix adding empty subfolders to search results
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

remove dependency not required in test-cryptupload
  tests/upload/test_cryptupload.py
Due: none

add missing paths in backend
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/common/api.js
Due: eslint, mypy

changelog missing error paths backend
  CHANGELOG.md
Due: pyspelling-docs

make use of fileresponse in static filer responses
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/middlewares.py
  tests/ui_unit/test_middlewares.py
Due: mypy

we will most likely always get 503 for 5xx errors
  swift_browser_ui_frontend/src/common/api.js
Due: eslint

update python dependencies
  pyproject.toml
  requirements.txt
Due: none

update js dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Set folderName before opening share modal
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Remove store var watchers trigerring fetches in hidden modals
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

Update necessary vars for modals before opening them
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Don't set selectedFolderName with mouse event obj
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

HTTPForbidden doesn't have WWW-Authenticate header
  swift_browser_ui/ui/_convenience.py
Due: mypy

check if projects list is empty in login
  swift_browser_ui/ui/login.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add to FIN vocabulary
  .github/config/.finnishwords.txt
Due: sort

Check if date to parse is null/undefined
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-frontend

Pressing enter leads to search result
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

update pnpm to v8 & update dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

update references to pnpm@8
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/pnpm-dependabot.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
  README.md
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  docs/source/instructions.rst
  docs/source/testing.rst
  swift_browser_ui_frontend/README.md
Due: eslint, pyspelling-docs

Update dependency gunicorn to v21
  pyproject.toml
  requirements.txt
Due: none

fix testing regressions from sharing uploads
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  tests/common/mockups.py
Due: eslint, mypy

don't default to TLS
  Procfile
Due: none

fix incorrect project ID used in URL on upload
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, mypy

fix regressions with sharing changes in rebase
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

receiver id is not in query, but url
  swift_browser_ui/upload/api.py
Due: mypy

use correct URL for sharing status check
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

append changelog
  CHANGELOG.md
Due: pyspelling-docs

clean console messages
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

add ternary sharing
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, mypy

Show the uploaded objects to shared container correctly
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

add project canonical name caching and checks
  .github/config/init-project-db.sh
  swift_browser_ui/common/common_handlers.py
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/sharing/api.py
  swift_browser_ui/sharing/db.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

add shared download access
  .github/config/vault_policy.hcl
  Procfile
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, mypy

use better name for id table
  .github/config/init-project-db.sh
  swift_browser_ui/sharing/db.py
Due: mypy

fix name only vs full id mismatch
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint
