Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

prevent incorrect 2-step login order causing session fixation
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/middlewares.py
Due: mypy

fix oidc unit test regressions
  swift_browser_ui/ui/login.py
  tests/common/mockups.py
  tests/ui_unit/test_login.py
Due: mypy

Switch ci build image to be pulled from elsewhere
  .gitlab-ci.yml
Due: none

Add release job to gitlab ci
  .gitlab-ci.yml
Due: none

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Trim container name when creating one
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update 2 files
  docs/_static/openapi.yaml
Due: none

user var for urls and internal ids
  .gitlab-ci.yml
Due: none

trigger branch build with api
  .gitlab-ci.yml
Due: none

Prevent folder icons from shrinking in table
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Update FI vocabulary
  .github/config/.finnishwords.txt
Due: sort

Update changelog and FI vocabulary
  .github/config/.finnishwords.txt
  CHANGELOG.md
Due: sort, pyspelling-docs

Mofidy notification when deleting objects shared with you
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint, pyspelling-frontend

Add fixes for text
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Add accessibility page with English version
  .github/config/.wordlist.txt
  CHANGELOG.md
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/accessibility.html
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/entries/accessibility.js
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/vite.config.js
Due: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

Redirect to 404 if user tries to navigate to faulty subfolder
  CHANGELOG.md
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, pyspelling-docs

Update dependency aiohttp to v3.9.2 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

fix missed await with download file addition
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

directly concatenate files that cannot be decrypted
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, sort, pyspelling-docs, pyspelling-frontend

Update all non-major dependencies
  pyproject.toml
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update actions/dependency-review-action action to v4
  .github/workflows/dependency-review.yml
Due: none

Skip: Update dependency certifi to v2024
  pyproject.toml
  requirements.txt
Due: none

Redirect to notfound if invalid prefix in URL
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Refactor OIDC's entry file and page
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
Due: eslint

Refactor IndexPage to use MainToolbar component
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
Due: eslint

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

Add link to Accessibility page's toolbar to route back to front page
  swift_browser_ui_frontend/src/components/MainToolbar.vue
  swift_browser_ui_frontend/src/entries/accessibility.js
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
Due: eslint

Remove unnecessary codes from entries's files
  swift_browser_ui_frontend/src/entries/badrequest.js
  swift_browser_ui_frontend/src/entries/forbid.js
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/notfound.js
  swift_browser_ui_frontend/src/entries/uidown.js
  swift_browser_ui_frontend/src/entries/unauth.js
Due: eslint

make vault service id configurable
  CHANGELOG.md
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/ui/settings.py
Due: mypy, pyspelling-docs

Skip: Update dependency cryptography to v42
  pyproject.toml
  requirements.txt
Due: none

Catch download start errors and show a toast
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Add download notification text
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
Due: eslint, sort, pyspelling-frontend

Add basic download progress bar
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-frontend

Don't overlap upload and download notifications
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Avoid overlapping download and upload notifications
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, pyspelling-frontend

Minimize notifications for upload and download when both visible
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Abort downloads and show toast after error
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-frontend

Enable tracking the progress of multiple direct downloads with single bar
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
