Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Check validity on leading edge of wait to avoid error flash
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Add folder name length validation
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint, sort, pyspelling-frontend

Move validation to global functions
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint

add more restrictive typing checks
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/common/common_util.py
  swift_browser_ui/common/signature.py
  swift_browser_ui/common/types.py
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/launcher.py
  swift_browser_ui/request/db.py
  swift_browser_ui/sharing/db.py
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/download.py
  swift_browser_ui/upload/replicate.py
  swift_browser_ui/upload/server.py
  swift_browser_ui/upload/upload.py
Due: mypy

fix aiohttp web logging as it does not exist
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/server.py
Due: mypy

fix redis typing
  swift_browser_ui/ui/server.py
Due: mypy

fix deploy workers to timeout nicely
  deploy/app-request.sh
  deploy/app-runner.sh
  deploy/app-sharing.sh
Due: none

changelog for forgotten port param in sharing db
  CHANGELOG.md
Due: pyspelling-docs

fix typo for sdconnectprojects filtering
  swift_browser_ui/ui/login.py
Due: mypy

Fix unhandled Promise rejections caused by abort
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Adding AbortController to container and object components
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Updated CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

Fix typo in var name
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Appease spellcheck
  .github/config/.wordlist.txt
Due: sort

Validate public keys and clear modal
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Limit key padding to 2 in matching pattern
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Remove private key option, update strings
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Update changelog, add to wordlists
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  CHANGELOG.md
Due: sort, pyspelling-docs

Match user public key against supported formats
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Fix typo
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Bugfix/upload table revert
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Update dependabot/fetch-metadata action to v1.6.0
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/pnpm-dependabot.yml
Due: none

Add folder name check for _segments in relevant modals
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

fix rebase
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Simplify global validation func
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update changelog, add FIN words, fix typo
  .github/config/.finnishwords.txt
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-docs

Remove checkbox from advanced options
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix resetting accordion value
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix rebase
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

check SDConnect enabled for sd connect service
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/settings.py
  tests/common/mockups.py
  tests/ui_unit/test_front.py
  tests/ui_unit/test_login.py
Due: mypy

changelog `SDCONNECT_ENABLED` environment variable
  CHANGELOG.md
Due: pyspelling-docs

check oidc exists in session if enabled
  swift_browser_ui/ui/middlewares.py
Due: mypy

Update dependency keystoneauth1 to v5.2.1
  pyproject.toml
  requirements.txt
Due: none

Update dependency dev/ruff to v0.0.277
  pyproject.toml
Due: none

Fix creating container with forward slash returning 403 and logging user out
  CHANGELOG.md
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui_frontend/src/common/api.js
Due: eslint, mypy, pyspelling-docs

Update last_modified for shared project
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-docs

Add last_modified column for normal folder
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
Due: eslint

Fix comparison when folder name contains unescaped regex chars
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Fix empty folder showing as item
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Ignore tag case to show up in search results
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
