Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Fix FIN route text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Add ConfirmRouteModal
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
Due: eslint

use ordinary response for error page returns
  CHANGELOG.md
  swift_browser_ui/ui/middlewares.py
  tests/ui_unit/test_middlewares.py
Due: mypy, pyspelling-docs

Fix single file without postfix download for Chrome
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Update all non-major dependencies
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Retain python versions at 3.11
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

Update actions/setup-node action to v4
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Enable options for empty regular container
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

pnpm-dependabot handling not required
  .github/workflows/pnpm-dependabot.yml
Due: none

update github actions dependencies
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/e2etests.yml
  .github/workflows/publish.yml
Due: none

update pnpm dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Trim whitespace from pasted public key
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Move blue bar directly above data table
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

add unit tests for wasm code
  swift_browser_ui_frontend/wasm/project.yml
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/include/upinit.h
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/test/support/stub_crypt4gh.h
  swift_browser_ui_frontend/wasm/test/support/stub_crypt4gh_header.h
  swift_browser_ui_frontend/wasm/test/support/stub_crypt4gh_key.h
  swift_browser_ui_frontend/wasm/test/support/stub_crypt4gh_segment.h
  swift_browser_ui_frontend/wasm/test/support/stub_fcntl.h
  swift_browser_ui_frontend/wasm/test/support/stub_ftw.h
  swift_browser_ui_frontend/wasm/test/support/stub_sodium.h
  swift_browser_ui_frontend/wasm/test/support/stub_stdlib.h
  swift_browser_ui_frontend/wasm/test/support/stub_unistd.h
  swift_browser_ui_frontend/wasm/test/test_streamingdownload.c
  swift_browser_ui_frontend/wasm/test/test_streamingupload.c
  swift_browser_ui_frontend/wasm/test/test_upcommon.c
  swift_browser_ui_frontend/wasm/test/test_upinit.c
Due: eslint

update readme with c test instructions
  CHANGELOG.md
  README.md
Due: pyspelling-docs

fix incorrect struct usage (stat.h doesn't typedef)
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/upcommon.c
Due: eslint

fix typo in header
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
Due: eslint

Fix mypy error
  swift_browser_ui/ui/api.py
Due: mypy

Add wasm tests in the gitlab ci pipeline
  .gitlab-ci.yml
  dockerfiles/Dockerfile-ci
Due: none

Add unit tests for cryptupload module
  tests/common/mockups.py
  tests/upload/test_cryptupload.py
Due: none

refactor database clients to use a common base
  .github/config/.wordlist.txt
  .gitignore
  CHANGELOG.md
  docs/source/code.rst
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/common/db.py
  swift_browser_ui/request/db.py
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  tests/common/test_db.py
  tests/request/test_db.py
Due: mypy, sort, pyspelling-docs

Refactor upload notification
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Reload objects when user clicks view-destination link while inside another container
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Make upload link lead to container root
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Fix broken view-dest link when users open other modals during upload
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Fix undefined tag error
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Refactor permission change
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Require user confirmation on alert to change sharing permissions
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, sort, pyspelling-frontend

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add to FIN vocabulary
  .github/config/.finnishwords.txt
Due: sort

Fix FIN notification text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Get user confirmation before deleting a share
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, sort, pyspelling-frontend

Update to correct size when uploading object with size > 5 GiB
  CHANGELOG.md
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/src/common/store.js
Due: eslint, mypy, pyspelling-docs

Update function for deleting objects if object size > 5GiB
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Add decimals to single digit sizes
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

also scope project tokens to project name
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/ui/signature.py
  swift_browser_ui/upload/server.py
Due: mypy

clean up signature code as per review
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/ui/signature.py
Due: mypy

refactor database clients to use a common base
  .github/config/init-project-db.sh
  swift_browser_ui/common/db.py
  tests/common/test_db.py
Due: mypy

Fix previous unit test to work again
  tests/ui_unit/test_signature.py
Due: none

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
