Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslit, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.252
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, --no-namespace-packages, swift_browser_ui/]
      pass_filenames: false
      additional_dependencies:
        - types-certifi
        - types-requests

  - repo: local
    hooks:
    - id: eslit
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

use PAT for git push
  .github/workflows/docs.yml
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/pnpm-dependabot.yml
  .github/workflows/spellcheck.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

correct pnpm-lock path
  .github/workflows/pnpm-dependabot.yml
Due: none

Replace b-button with c-button
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit, pyspelling-docs

Replace b-loading with c-loader and remove unused b-loading
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit, pyspelling-docs

Updated ENG and some FIN text with Aino
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

add timeouts to requests
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/upload/download.py
  tests/ui_unit/test_convenience.py
Due: none

Replace buefy notifications with csc-ui toasts
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit

Update CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

Change modal to look similar to design, and remove key
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslit

Fix style issue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslit

Enable deleting shared objects
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslit

Remove limit for Tag input field's chars length
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslit

Fix for warnings
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Calling modifyBrowserPageStyles and retrieving cancel message from lang.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

fix unaligned pointer issues in WASM encryption code
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
  swift_browser_ui_frontend/wasm/src/include/upinit.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
Due: eslit

use bash instead of sh to enable new conditions in script
  swift_browser_ui_frontend/build_wasm.sh
Due: eslit

Don't try decrypting non c4gh files
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslit

use correct filename for downloaded files
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post.js
Due: eslit

fix download bugs
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/include/streamingupload.h
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/include/upinit.h
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/src/upload.c
Due: eslit

add decryption implementation
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/download.py
  swift_browser_ui/upload/upload.py
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/include/streamingupload.h
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
Due: eslit

also check segment container on upload
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/upload.py
Due: none

correctly use prefix when uploading into a pseudofolder
  swift_browser_ui_frontend/src/common/upload.js
Due: eslit

correctly handle last chunk
  swift_browser_ui_frontend/src/common/download.js
Due: eslit

correctly dump stale sessionPtr variable
  swift_browser_ui_frontend/wasm/js/crypt-post.js
Due: eslit

remove stale folder rendering code
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

don't suggest filename with incorrect .c4gh file identifier
  swift_browser_ui_frontend/wasm/js/crypt-post.js
Due: eslit

correctly page with pseudofolders
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslit

fix chunk ordering issues when uploading
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/src/common/upload.js
Due: eslit

use relativePath instead of name to preserve folder structure
  swift_browser_ui_frontend/src/common/upload.js
Due: eslit

fix linter issues
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  tests/ui_unit/test_discover.py
Due: eslit

correctly slice body into 64KiB + 22B chunks
  .github/config/vault_policy.hcl
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/ui/discover.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
Due: eslit

pre-fill existing folders in upload
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit

use correct path for file
  swift_browser_ui_frontend/src/common/upload.js
Due: eslit

Update .github/config/vault_policy.hcl
  .github/config/vault_policy.hcl
Due: none

prune sneaky logging
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/src/upload.c
Due: eslit

display correct page amount when using folder rendering
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslit

remove old header upload logic
  swift_browser_ui/upload/cryptupload.py
Due: none

update changelog
  CHANGELOG.md
Due: pyspelling-docs

document correct envars
  .github/config/.env.test
  README.md
Due: pyspelling-docs
