Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

update readme with the new template
  .github/config/.wordlist.txt
  README.md
Due: sort, pyspelling-docs

Add Contributing and Licence to README
  README.md
Due: pyspelling-docs

Remove readthedocs link
  CONTRIBUTING.md
Due: pyspelling-docs

Add code guidelines for repository
  README.md
Due: pyspelling-docs

Update wordlist
  .github/config/.wordlist.txt
Due: sort

Changelog bot 2026-02-10T17:06:38+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

add docker all as an option in make
  Makefile
Due: none

add phonies, submodule refresh
  Makefile
Due: none

Changelog bot 2026-02-11T08:04:46+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix share receiver losing view access to bucket content after perm is changed to view
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Changelog bot 2026-02-16T07:51:37+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

pin setuptools to an ancient version to prevent oidc breaking builds
  pyproject.toml
Due: none

Changelog bot 2026-02-17T05:56:52+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Enrich bucket data in Containers component
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Refactor bucket table to not fetch bucket data, only render
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Remove outdated functionality for handling page query in route
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Changelog bot 2026-02-17T12:57:50+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Switch to batched object deletion
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint, sort, pyspelling-frontend

Add error toast on bucket deletion fail
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-frontend

Changelog bot 2026-02-17T13:21:20+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

update vault image to 1.21 to get more recent go version
  devproxy/Dockerfile-vault
Due: none

Changelog bot 2026-02-18T13:00:25+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix permissions for .docker-volumes folder
  Makefile
Due: none

Fix ancient node version sneaking into makefile
  Makefile
Due: none

Changelog bot 2026-02-20T07:46:49+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Migrate from Vuex to Pinia store
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3init.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Changelog bot 2026-02-20T08:03:00+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Refactor oidcrp out in favor of idpyoidc
  .github/config/.env.test
  pyproject.toml
  requirements.txt
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/server.py
Due: mypy

Changelog bot 2026-02-26T08:02:30+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

increase token lifetime to 7 days
  swift_browser_ui/common/db.py
Due: mypy

change token lifetime in creation modal
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-03-04T09:41:49+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix file opening error not getting detected
  swift_browser_ui_frontend/wasm/src/streamingupload.c
Due: eslint

Fix folder upload not working by preserving folder structure in worker file system
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

Changelog bot 2026-03-30T15:07:07+03:00
  CHANGELOG.md
Due: pyspelling-docs

prune newlines from vault errors
  swift_browser_ui/common/vault_client.py
Due: mypy

Changelog bot 2026-03-31T04:58:11+00:00
  CHANGELOG.md
Due: pyspelling-docs

Fix share access not getting edited in ACL sync
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Check vault sharing whitelist in share policy sync
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Changelog bot 2026-04-07T11:08:19+00:00
  CHANGELOG.md
Due: pyspelling-docs

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
