Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Limit actions for shared container with View permission
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

add review suggestion on skipping owner verify
  swift_browser_ui/upload/cryptupload.py
Due: mypy

fix project id cache typing
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/sharing/db.py
Due: mypy

use projectID in URL when checking share existence
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

fix url for vault sharing status checks
  swift_browser_ui/common/vault_client.py
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint, mypy

fix unit tests with changed container creation
  CHANGELOG.md
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/replicate.py
  tests/upload/test_api.py
Due: mypy, pyspelling-docs

check copy container access before scheduling
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/replicate.py
Due: mypy

Change momentjs to luxon for same relative date format between locales
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Consider null dates in parsing time from now
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Sort by date with null values
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Add 'show time from now' table display option
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, sort, pyspelling-frontend

Add to FIN vocabulary
  .github/config/.finnishwords.txt
Due: sort

Fix date sorting in tables
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Update changelog, pnpm-lock
  CHANGELOG.md
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint, pyspelling-docs

Add user friendly date to container table
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-frontend

Update all non-major dependencies
  .github/workflows/spellcheck.yml
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  pyproject.toml
  requirements.txt
Due: none

skipped old tests
  tests/cypress/integration/browser.cy.js
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/userInfo.cy.js
Due: none

changed instructions for running cypress in README
  README.md
Due: pyspelling-docs

Login, container, upload tests
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/integration/userInfo.cy.js
  tests/cypress/support/commands.js
Due: eslint

edited Changelog, un-gitigored cypress>fixtures>text-files
  .gitignore
  CHANGELOG.md
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/upload.cy.js
Due: pyspelling-docs

changed formatting for BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  tests/cypress/integration/sharing.cy.js
Due: eslint

edited upload and container tests, cypress commands, added cypress-cloud
  .gitignore
  CHANGELOG.md
  swift_browser_ui_frontend/currents.config.js
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/commands.js
Due: eslint, pyspelling-docs

added env variables for cypress-cloud
  .github/config/.env.test
Due: none

use new version of pnpm in docker-ci
  dockerfiles/Dockerfile-ci
Due: none

correct python path dockerfile
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

use python 3.11 in github actions
  .github/workflows/docs.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  tox.ini
Due: none

support also python 3.11
  pyproject.toml
Due: none

the [[ does not exist in sh
  swift_browser_ui_frontend/build_wasm.sh
Due: eslint

use cscfi/docker-emscripten-crypt4gh v 1.2.0
  CHANGELOG.md
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
Due: pyspelling-docs

Update CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

removed unnecessary var in checkPage
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fixed upload modal tables
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

moved function to globalFunctions
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fixed typo
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

removed repetative function
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

replaced deletion by index
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fixed item delete on containerTable
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

removed console.log
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fixed CObjectTable mass deletion
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
