Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

sharing for wrong and same ID
  tests/cypress/integration/sharing.cy.js
Due: none

fixed wait times and clicks
  tests/cypress/integration/upload.cy.js
Due: none

removed copy clicks in sharing
  tests/cypress/integration/sharing.cy.js
Due: none

load different files one by one
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/upload.cy.js
Due: none

test for container deletion
  tests/cypress/integration/container.cy.js
Due: none

added file deletion with checkbox
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/commands.js
Due: none

sharing test
  tests/cypress/integration/sharing.cy.js
Due: none

Add --rm flags to docker calls in Procfile
  Procfile
Due: none

Remove some dead code and fix one potential typo
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/cryptupload.py
  tests/ui_unit/test_convenience.py
Due: mypy

Change vault script shebang
  scripts/vault.sh
Due: none

Improve some python unittests
  tests/common/mockups.py
  tests/upload/test_api.py
Due: none

Overflow sharing permissions and add less padding
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Disable create folder button when in container
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Add scroll for modal overflow if container is shared
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Remove duplicate styling
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Add space above table title
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add check for spec chars when validating container name
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Remove prefix from upload to disable upload to subfolders for now
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update all non-major dependencies
  pyproject.toml
  requirements.txt
Due: none

colour adjusting
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/external.sass
Due: eslint

select files outlined
  swift_browser_ui_frontend/src/components/CUploadButton.vue
Due: eslint

Fix spelling
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Fix saving displayOptions for each container
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Update display options' text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Fix persistence of latest activity display option
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

clean _check_last_modified implementation
  swift_browser_ui/ui/api.py
  tests/ui_unit/test_api.py
Due: mypy

Optimise the check_last_modified method execution
  swift_browser_ui/ui/api.py
  tests/common/mockups.py
  tests/ui_unit/test_api.py
Due: mypy

Update python unit tests
  tests/ui_unit/test_api.py
Due: none

Add method to check last modified status
  swift_browser_ui/ui/api.py
Due: mypy

Update CHANGELOG
  CHANGELOG.md
Due: pyspelling-docs

log error when retrieving last modified as unknown
  swift_browser_ui/ui/api.py
Due: mypy

Make subfolder obj more readable
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Add issue number
  CHANGELOG.md
Due: pyspelling-docs

Change subfolder.name to fix subfolder deletion and match object naming
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Restore correct table page number, remove if/else block
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Sort objects and subfolders, not props
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Create subfolder objects for correct sorting
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint
