Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
Due: none

Update dependency black to v25
  pyproject.toml
Due: none

Update dependency certifi to v2025
  pyproject.toml
  requirements.txt
Due: none

Improve token modal messages
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint, sort, pyspelling-frontend

bump version message for Februaury
  docs/_static/openapi.yaml
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

improve finnish decryption message wording
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2025-02-11T15:21:16+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update dependency cryptography to v44
  pyproject.toml
  requirements.txt
Due: none

Update dependency aiohttp to v3.11.13
  pyproject.toml
  requirements.txt
Due: none

Update dependency cryptography to v44.0.2
  pyproject.toml
  requirements.txt
Due: none

Update dependency @intlify/unplugin-vue-i18n to v6
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

allow anonymous get to id cache for discovery
  swift_browser_ui/common/common_middleware.py
Due: mypy

allow x-project access when fetching public keys via CLI
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
Due: mypy

Changelog bot 2025-04-23T10:11:51+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update all non-major dependencies
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency vite to v5.4.17 [SECURITY]
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Add autoupdate feature for version numbers in code
  .gitlab-ci.yml
  docs/_static/openapi.yaml
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

Chore: automatically update versions [ci skip]
  docs/_static/openapi.yaml
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

Changelog bot 2025-04-24T12:52:40+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

filter out bucket shared to owner
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Changelog bot 2025-06-17T11:30:19+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Upgrade to aiohttp 3.12.15
  .gitlab-ci.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui/common/common_handlers.py
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/wasm/project.yml
Due: eslint, mypy

Changelog bot 2025-09-30T12:46:39+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Do not display DeleteModal if only subfolders selected for deletion
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Add a footer menu item
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Improve sharing permission visibility in the modal
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Update API key modal. Rename tokens to API keys in the frontend.
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, sort, pyspelling-frontend

Rename button that removes files from upload table
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Changelog bot 2025-10-01T10:06:31+03:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Replace folder icon with bucket icon in container table
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Replace folder with bucket, subfolder with folder in user-facing strings
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Replace term subfolders with folders
  .github/config/.wordlist.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint, sort, pyspelling-frontend

Replace term folder with bucket
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/AllBucketsTable.vue
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/BucketTabs.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/views/Buckets.vue
Due: eslint, pyspelling-frontend

Replace folder with bucket in Cypress tests
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/integration/browser.cy.js
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/download.cy.js
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/commands.js
Due: eslint

Changelog bot 2025-10-07T12:11:31+03:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Add functionality to fetch project titles
  .github/config/.env.test
  pyproject.toml
  requirements.txt
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/api.py
  tests/common/mockups.py
  tests/ui_unit/test_api.py
  tests/ui_unit/test_convenience.py
Due: mypy

Changelog bot 2025-10-13T06:41:27+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Switch to stricter bucket name validation
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BucketNameValidation.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/css/csc.scss
  tests/cypress/integration/container.cy.js
Due: eslint, sort, pyspelling-frontend
