Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslit, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.252
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, --no-namespace-packages, swift_browser_ui/]
      pass_filenames: false
      additional_dependencies:
        - types-certifi
        - types-requests

  - repo: local
    hooks:
    - id: eslit
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Ignore other commonly used files/folders
  .gitignore
Due: none

Fix crash for inexistent session
  CHANGELOG.md
  swift_browser_ui/ui/api.py
Due: pyspelling-docs

serve correct index oidc
  swift_browser_ui_frontend/src/index_oidc.html
  swift_browser_ui_frontend/vite.config.js
Due: eslit

Fix for console warnings
  swift_browser_ui_frontend/src/common/i18n.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslit

Update configuration to vue3
  CHANGELOG.md
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/csc-ui-vue-directive.js
  swift_browser_ui_frontend/src/common/csc-ui.js
  swift_browser_ui_frontend/src/common/i18n.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/badrequest.js
  swift_browser_ui_frontend/src/entries/forbid.js
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/notfound.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/entries/uidown.js
  swift_browser_ui_frontend/src/entries/unauth.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
  swift_browser_ui_frontend/vite.config.js
  vetur.config.js
  volar.config.js
Due: eslit, pyspelling-docs

Fix unauth path
  swift_browser_ui_frontend/src/common/api.js
Due: eslit

Fix reactive component
  swift_browser_ui_frontend/src/views/Folders.vue
Due: eslit

Fix changing projects
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit

Upgrade packages for vue3
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslit

fix login page init
  swift_browser_ui_frontend/.gitignore
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

better project selection on init
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

Add IndexedDB workaround for early closing transactions
  swift_browser_ui_frontend/src/common/db.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

fix upload button
  swift_browser_ui_frontend/src/components/CUploadButton.vue
Due: eslit

Configure eslint for vue3
  swift_browser_ui_frontend/.eslintrc.json
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Fix UploadModal drag-drop
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit

Fix setting translatable sharedStatus - i18n was giving warnings
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Fix autocomplete bindings
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit

Fix css style
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslit

Validate Share ID input length, chars; not own ID
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit, pyspelling-frontend

Fix updating tags for containers and objects
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
Due: eslit

Fix changing objects display options
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Add pre-commit configuration
  .github/config/.spellcheck.yml
  .github/config/.wordlist.txt
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  scripts/eslint.sh
Due: sort, pyspelling-docs

pre-commit: fix end of file
  .github/config/.spellcheck.yml
  docs/_static/api.yml
  docs/source/_static/style.css
  docs/source/tech.rst
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SharedOutTable.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  tests/cypress/integration/browser.cy.js
  tests/cypress/integration/userInfo.cy.js
  tests/cypress/support/commands.js
Due: eslit, pyspelling-docs

pre-commit: fix ruff isort
  swift_browser_ui/common/common_handlers.py
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/common/signature.py
  swift_browser_ui/common/types.py
  swift_browser_ui/launcher.py
  swift_browser_ui/request/api.py
  swift_browser_ui/request/bindings/bind.py
  swift_browser_ui/request/db.py
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/api.py
  swift_browser_ui/sharing/bindings/bind.py
  swift_browser_ui/sharing/db.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/discover.py
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui/ui/shell.py
  swift_browser_ui/ui/signature.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/auth.py
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/download.py
  swift_browser_ui/upload/replicate.py
  swift_browser_ui/upload/server.py
  swift_browser_ui/upload/upload.py
Due: none

pre-commit: fix trailing spaces
  .github/ISSUE_TEMPLATE/user_story.md
  README.md
  devproxy/nginx.conf
  docs/_static/api.yml
  docs/source/_static/style.css
  docs/source/deploy.rst
  docs/source/instructions.rst
  docs/source/testing.rst
  swift_browser_ui_frontend/src/common/db.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/css/dark.scss
  swift_browser_ui_frontend/src/css/light.scss
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/vite.config.js
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upinit.c
Due: eslit, pyspelling-docs

pre-commit: fix bandit
  swift_browser_ui/common/common_util.py
  swift_browser_ui/request/db.py
  swift_browser_ui/sharing/db.py
  tests/request/test_db.py
  tests/sharing/test_db.py
Due: none

pre-commit: fix pyspelling and dictionary sorting
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  .github/workflows/spellcheck.yml
  .pyspelling.yml
  docs/source/usage.rst
  scripts/pyspelling.sh
  scripts/sort.sh
Due: sort, pyspelling-docs

pre-commit: fix mypy
  swift_browser_ui/upload/replicate.py
Due: none

pre-commit: fix ruff pydocstyle
  swift_browser_ui/__init__.py
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/request/bindings/__init__.py
  swift_browser_ui/sharing/bindings/__init__.py
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/replicate.py
Due: none

pre-commit: fix ruff flake8
  swift_browser_ui/sharing/api.py
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/auth.py
Due: none

Add github workflow for pre-commit
  .github/workflows/pre-commit.yml
Due: none

Moved support menu links to lang.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslit, pyspelling-frontend

Removed unused strings
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

Language file updates
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

Updated instructions shown in ShareModal
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Moved MyCSC link to lang.js; removed unused strings
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit, pyspelling-frontend

Added lang corrections from UX lead
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit, pyspelling-frontend

Fixed finnish support menu
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend
