Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Removed CSC specific language
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint, pyspelling-frontend

Added FIN changes
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-frontend

Updated word lists
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
Due: sort

More FIN updates
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Added FIN words to list
  .github/config/.finnishwords.txt
Due: sort

Added translation, updated shared with permissions text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

fix for checks
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

fix for pre-commit check
  .github/config/.finnishwords.txt
Due: sort

Fix list in ShareModal instructions
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Adding functionality to modal
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint, pyspelling-frontend

Token modal sketch
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, pyspelling-frontend

Working token modal
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, pyspelling-frontend

added .vue that got away
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

remove token view
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslint

Added FIN words for spellcheck
  .github/config/.finnishwords.txt
Due: sort

Fix pre-commit err
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint, sort

removed v-csc-model
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Clear input after creation. Fixed button
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint, pyspelling-frontend

Remove toasts on closing modal
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

Add to vocabulary
  .github/config/.finnishwords.txt
Due: sort

vocabulary fix
  .github/config/.finnishwords.txt
Due: sort

Create GitLab pipelines for linting and unit tests
  .gitlab-ci.yml
  dockerfiles/Dockerfile-ci
Due: none

Add ui health unit tests
  swift_browser_ui/ui/health.py
  tests/common/mockups.py
  tests/ui_unit/test_health.py
Due: mypy

Add different api unit tests
  tests/common/mockups.py
  tests/request/test_api.py
  tests/sharing/test_api.py
  tests/ui_unit/test_api.py
Due: none

Add unit tests for upload module
  tests/common/mockups.py
  tests/request/test_api.py
  tests/sharing/test_api.py
  tests/ui_unit/test_api.py
  tests/ui_unit/test_health.py
  tests/upload/test_upload.py
Due: none

Add icon for subfolder
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Fix for being able to select all files to delete
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Fix for selecting function
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

No longer direct route to ObjectView when trying to delete a container
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Change wording for Display options
  .github/config/.finnishwords.txt
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-docs, pyspelling-frontend

Fix for the case of deleting subfolders and files together
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-docs

trigger downstream job
  .gitlab-ci.yml
Due: none

use gitlab commit url
  swift_browser_ui_frontend/vite.config.js
Due: eslint

run indiferent of the branch
  .gitlab-ci.yml
Due: none

fix menu string
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint

Add Edit sharing to keyboard nav
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

language fixes
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

shorten toast to avoid crowding
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
