Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

add project scoped token auth to upload API
  .github/config/.env.test
  CHANGELOG.md
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/auth.py
  swift_browser_ui/upload/server.py
  tests/upload/test_api.py
  tests/upload/test_auth.py
Due: mypy, pyspelling-docs

Make cancelling upload and starting a new upload again work
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
Due: eslint, mypy

Take care of deleting a container of which upload is cancelled
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Fix notification when an upload is cancelled and other aborting upload cases
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-docs

Handle cancelling tasks more properly after aborting upload
  swift_browser_ui/upload/cryptupload.py
Due: mypy

Update csc-ui and remove modal backdrop blur
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Update dependency @testing-library/vue to v8
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Move create folder button. Add icons to buttons
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

update python dependencies nov 2023
  pyproject.toml
  requirements.txt
Due: none

revert to python 3.11
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

ignored as this should work
  swift_browser_ui/ui/api.py
Due: mypy

update pnpm pacakges nov 2023
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update all non-major dependencies
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  pyproject.toml
  requirements.txt
Due: none

Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency docs/sphinx_rtd_theme to v2
  pyproject.toml
Due: none

Add a wait for libinit reinitializing before creating new download session
  CHANGELOG.md
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-docs

fix chunk cache overfilling by throttling uploads from server side
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  tests/upload/test_cryptupload.py
Due: eslint, mypy

fix cancellation regressions in upload bugfix
  swift_browser_ui/upload/cryptupload.py
  tests/upload/test_cryptupload.py
Due: mypy

update changelog
  CHANGELOG.md
Due: pyspelling-docs

use random sleep length when waiting for upload chunks
  swift_browser_ui/upload/cryptupload.py
Due: mypy

use full registry paths for containers
  Procfile
  devproxy/Dockerfile-nginx
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

Update actions/setup-python action to v5
  .github/workflows/docs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
Due: none

Update all non-major dependencies
  pyproject.toml
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Add Privacy link to footer
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CFooter.vue
Due: eslint, pyspelling-docs, pyspelling-frontend

Make sure the objects inside download container are fully fetched in download process
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Update actions/upload-artifact action to v4
  .github/workflows/e2etests.yml
Due: none

Only try to encrypt chunk if upload session exists
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
Due: eslint

Fix upload not starting after cancelling large uploads
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
Due: eslint

bump to cscfi/docker-emscripten-crypt4gh:1.3.0
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
Due: none

Update dependency @intlify/unplugin-vue-i18n to v2
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Keep the service worker alive while downloading in Firefox
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-docs

update pnpm dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

reverting to 3.11
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

remove code.rst docs
  docs/source/code.rst
  docs/source/index.rst
Due: pyspelling-docs

Update dependency test/flake8 to v7
  pyproject.toml
Due: none

Update dependency vite to v5
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency @vitejs/plugin-vue to v5
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
