Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

updated token modal item deletion
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

removed console.logs and typo
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

added event as argument
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

moved item check to delete
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

fixed search bug
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

fixed query file deletion
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Enabled Edit tags and Delete buttons for objects in a normal container
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, pyspelling-docs

Fix command for starting the keystone-swift container
  Procfile
Due: none

Add redis health check
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/settings.py
  tests/ui_unit/test_health.py
Due: mypy

Refactor redis client setup
  swift_browser_ui/ui/_convenience.py
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  tests/ui_unit/test_health.py
Due: mypy

Add unittests for the health checks
  tests/ui_unit/test_health.py
Due: none

Add vault health check
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/settings.py
Due: mypy

Refactor vault health check
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/ui/health.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui/upload/api.py
  tests/ui_unit/test_health.py
  tests/upload/test_api.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

fixed subfolder search
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

fixed page selection in subfolder
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

improved page search in subfolders
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

changed setPageByFileName
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

No need to have a duplicate language item in menu
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CLanguageSelector.vue
Due: eslint

use csc ui default styles
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/external.sass
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

standardize css alignment
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/FolderTabs.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
Due: eslint

refactor footer css
  swift_browser_ui_frontend/src/components/CFooter.vue
Due: eslint

fix upload modal select files positioning
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

bump materialdesignicons to 7.2.96
  swift_browser_ui_frontend/src/400.html
  swift_browser_ui_frontend/src/401.html
  swift_browser_ui_frontend/src/403.html
  swift_browser_ui_frontend/src/404.html
  swift_browser_ui_frontend/src/503.html
  swift_browser_ui_frontend/src/browse.html
  swift_browser_ui_frontend/src/index.html
  swift_browser_ui_frontend/src/login.html
  swift_browser_ui_frontend/src/login2step.html
  swift_browser_ui_frontend/src/loginpassword.html
  swift_browser_ui_frontend/src/select.html
Due: eslint

remove bulma dependency
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/dark.scss
  swift_browser_ui_frontend/src/css/external.sass
  swift_browser_ui_frontend/src/css/light.scss
Due: eslint

main nav classes not required
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint

refactor breadcrumb not to depend on bulma css
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
Due: eslint

minify css
  swift_browser_ui_frontend/vite.config.js
Due: eslint

refactor 2nd nav css styles
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

match styles to previou state
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/dark.scss
  swift_browser_ui_frontend/src/css/external.sass
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

remove has-text-centered from select page
  swift_browser_ui_frontend/src/pages/SelectPage.vue
Due: eslint

wait times in upload
  tests/cypress/integration/upload.cy.js
Due: none

fixed several containers test
  tests/cypress/integration/container.cy.js
  tests/cypress/support/commands.js
Due: none

edited CHANGELOG
  CHANGELOG.md
Due: pyspelling-docs
