Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Remove temporary files after direct download abort
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Fix removal of temp files for multiple concurrent downloads
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Changelog bot 2024-04-10T13:48:00+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependabot/fetch-metadata action to v2
  .github/workflows/dependency-auto-merge.yml
Due: none

Show after-upload loader only in destination container
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Changelog bot 2024-04-17T13:04:13+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Remove unused code for enabling > 1GiB downloads
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-frontend

Changelog bot 2024-04-18T06:46:12+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

make use python 3.12
  .github/workflows/docs.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  pyproject.toml
  tox.ini
Due: none

Changelog bot 2024-04-18T13:45:21+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Refactor download abort to fix download temp files staying when cancelling before download begins
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Fix download progress resetting to 0 when starting another direct download
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Identify download sessions by random ids to enable concurrent downloads from a single container
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Changelog bot 2024-04-26T13:05:43+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency @intlify/unplugin-vue-i18n to v4
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update all non-major dependencies
  .github/workflows/dependency-auto-merge.yml
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency gunicorn to v22 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Skip: Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Remove subfolders from suggested file download name
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Changelog bot 2024-05-31T07:07:46+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency @testing-library/dom to v10
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
Due: none

Skip: Update dependency dexie to v4
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency eslint to v9
  .gitlab-ci.yml
  swift_browser_ui_frontend/.gitignore
  swift_browser_ui_frontend/eslint.config.js
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/idb_support.js
Due: eslint

Remove old config file for eslint
  swift_browser_ui_frontend/.eslintrc.json
Due: eslint

Changelog bot 2024-06-06T10:47:36+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency test/pytest to v8
  pyproject.toml
Due: none

Fix mock attributes that were producing errors in unittests
  tests/request/test_bindings_bind.py
  tests/sharing/test_bindings_bind.py
  tests/ui_unit/test_login.py
Due: none

Update and reorder cypress commands
  tests/cypress/support/commands.js
Due: none

Update and finish upload e2e tests. Use upload folder creation instead of deprecated upload folder search
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  tests/cypress/integration/upload.cy.js
Due: eslint

Remove userInfo.cy.js old login tests, move missing to login.cy.js, refactor
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/userInfo.cy.js
  tests/cypress/support/commands.js
Due: eslint

added commands
  tests/cypress/support/commands.js
Due: none

Switch user instead of projects. Shorten wait time before toast
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/support/commands.js
Due: eslint

Update table sharing test, test upload to shared folder. Add share command.
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/support/commands.js
Due: eslint

added tests
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/integration/upload.cy.js
Due: none

Update sharing tests, remove reliance on UI text, add project switching command
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  tests/cypress/integration/sharing.cy.js
  tests/cypress/support/commands.js
Due: eslint

Refactor cypress commands. Use file upload commands
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/commands.js
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
