Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

hide advanced encryption options until bugs can be fixed
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Changelog bot 2026-04-08T08:10:24+00:00
  CHANGELOG.md
Due: pyspelling-docs

Add conversion need status column and alerts
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/config/config.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-04-13T09:49:25+03:00
  CHANGELOG.md
Due: pyspelling-docs

Catch ACL sync errors
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Changelog bot 2026-04-13T12:12:47+03:00
  CHANGELOG.md
Due: pyspelling-docs

Display project numbers in ShareModal table. Retrieve project ID and name pairs as a batch
  .github/config/.finnishwords.txt
  swift_browser_ui/common/db.py
  swift_browser_ui/sharing/api.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, mypy, sort, pyspelling-frontend

Display project name in shareID input field
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-04-14T07:11:41+00:00
  CHANGELOG.md
Due: pyspelling-docs

Hide bucket loader when there are no buckets in project
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Changelog bot 2026-04-14T07:27:43+00:00
  CHANGELOG.md
Due: pyspelling-docs

use unique key names when downloading in the UI
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

add key_name query parameter to use custom key names in whitelist
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
Due: mypy

use session specific whitelisted key when copying a bucket
  swift_browser_ui/ui/replicate.py
Due: mypy

fix backend unit tests not working
  tests/ui_unit/test_api.py
  tests/ui_unit/test_login.py
  tests/upload/test_api.py
Due: none

Changelog bot 2026-04-14T07:45:56+00:00
  CHANGELOG.md
Due: pyspelling-docs

Modify build trigger pipeline rules and passed variables
  .gitlab-ci.yml
Due: none

Correct token in build pipeline trigger
  .gitlab-ci.yml
Due: none

Changelog bot 2026-04-14T07:57:19+00:00
  CHANGELOG.md
Due: pyspelling-docs

allow server to request deprecated ciphers in LDAP TLS handshake
  swift_browser_ui/ui/_convenience.py
Due: mypy

Changelog bot 2026-04-14T13:21:45+00:00
  CHANGELOG.md
Due: pyspelling-docs

Add error toasts about failing bucket actions to incompatible legacy buckets
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint, sort, pyspelling-frontend

Mark buckets with invalid v2 chars, whitespace, non-Latin letters in name with urgent conversion need
  swift_browser_ui_frontend/src/common/globalFunctions.js
Due: eslint

Changelog bot 2026-04-23T06:59:14+00:00
  CHANGELOG.md
Due: pyspelling-docs

Disable share modal opening for incompatible buckets
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint

Changelog bot 2026-04-24T11:48:15+00:00
  CHANGELOG.md
Due: pyspelling-docs

Add a notification about missing v2 shares
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, sort, pyspelling-frontend

Fix a flash of default-type alert
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Changelog bot 2026-04-30T10:17:48+03:00
  CHANGELOG.md
Due: pyspelling-docs

Update csc-ui to v3
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/common/csc-ui-vue-directive.js
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
Due: eslint

Replace non-existent c-main, c-flex, c-container components with divs
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/views/Buckets.vue
Due: eslint

Fix icons for csc-ui v3
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
Due: eslint

Fix colours for csc-ui v3
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/BucketNameValidation.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix bucket and object tables for csc-ui v3
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Move global styling to main.css
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix bucket tabs for csc-ui v3
  swift_browser_ui_frontend/src/components/BucketTabs.vue
Due: eslint

Fix modal position for csc-ui v3
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/APIKeyModal.vue
  swift_browser_ui_frontend/src/components/BucketNameValidation.vue
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix menu items not showing because c-row is not a fit parent
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix padding on modals based on c-alerts for csc-ui v3
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/ConfirmRouteModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
