Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Disable upload button while adding dropFiles with button
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Change toast duration
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

initial implementation of segment size caching
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Fix for showing folder size and file size correctly
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix for sharing folder with segment folder
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Fix for showing subfolder's size correctly
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, pyspelling-docs

Fix for updating container's size and item correctly after deleting objects
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fixed for uploading files to have correct sizes and deleting segment container together with original folder
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
Due: eslint

Add check for segment container
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Deleting files should update the folder size correctly
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Fix for pagination to show number of items correctly
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix for showing subfolder's size correctly
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Fix for updating container's size and item correctly after deleting objects
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Fix for showing folder size and file size correctly
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Fine-tune the permissions for shared folders
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-docs

Fix for deleting files inside shared folders
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

health endpoint should not require login
  swift_browser_ui/ui/middlewares.py
Due: mypy

Hide static folder index listing
  swift_browser_ui/ui/server.py
Due: mypy

Show all Share ID when entered
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslint

Add toasts when invalid Share ID(s) entered
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, sort, pyspelling-frontend

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add vault start-up script to Procfile
  .github/config/.env.test
  Procfile
  scripts/vault.sh
Due: none

Create _segments folder
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint

Remove tokens and tags from _segments folders
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Update finnish vocabulary
  .github/config/.finnishwords.txt
Due: sort

Add alert when adding files with same path
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Fix typo
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Prevent upload to shared folders with no perm
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Set inputFolder after checking access rights
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fix whitespace from merge
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Remove unnecessary toast in Upload modal
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update dependabot/fetch-metadata action to v1.5.1
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/pnpm-dependabot.yml
Due: none

python package bundle updates
  pyproject.toml
  requirements.txt
Due: none

Update UploadNotification to follow design. Make sure the logo in main navbar stays in alignment with the text.
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/components/UploadProgressBar.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
Due: eslint, pyspelling-frontend

Fixed 'view destination folder' functionality
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Use store.state.selectedFolderName instead of creating a new variable. Enable ObjectTable update if moving straight from container to container
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Fix for tagging functionality in subfolders and files
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
Due: eslint, pyspelling-docs

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
