Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Skip: Update all non-major dependencies
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/spellcheck.yml
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update versions in package.json
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Bump to new release version 2024.08.0
  docs/_static/openapi.yaml
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

Changelog bot 2024-08-23T13:08:52+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency @intlify/unplugin-vue-i18n to v5
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency test/setuptools to v71
  pyproject.toml
Due: none

Skip: Update dependency @faker-js/faker to v9
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency gunicorn to v23
  pyproject.toml
  requirements.txt
Due: none

Update shared status in container table after adding or deleting share
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Changelog bot 2024-10-02T15:22:33+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix nonexistent id cache causing legacy shares to break synchronization
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
Due: eslint

Changelog bot 2024-10-08T08:23:45+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency dev/honcho to v2
  pyproject.toml
Due: none

Update 2 files
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Skip no commit pre-commit hook in CI/CD jobs
  .github/workflows/pre-commit.yml
  .gitlab-ci.yml
Due: none

allow sha1 for tempurl signatures to support ceph downloads
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/settings.py
Due: mypy

Changelog bot 2024-10-23T10:21:12+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  .github/workflows/spellcheck.yml
  dockerfiles/Dockerfile-ci
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Remove mentions of old python versions
  README.md
  pyproject.toml
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/shell.py
  swift_browser_ui/upload/server.py
Due: mypy, pyspelling-docs

Bump release version number in code
  docs/_static/openapi.yaml
  docs/source/conf.py
  swift_browser_ui/__init__.py
  swift_browser_ui_frontend/package.json
Due: eslint, mypy

Changelog bot 2024-10-30T19:03:50+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix broken links in CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: pyspelling-docs

Change more old python version numbers
  .github/workflows/pre-commit.yml
  docs/source/instructions.rst
  docs/source/tools.rst
  pyproject.toml
Due: pyspelling-docs

Change e2e container test case
  tests/cypress/integration/container.cy.js
Due: none

Changelog bot 2024-11-26T08:48:50+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency test/pytest-cov to v6
  pyproject.toml
Due: none

Skip: Update dependency dev/pre-commit to v4
  pyproject.toml
Due: none

Skip: Update dependency docs/sphinx_rtd_theme to v3
  docs/source/conf.py
  pyproject.toml
Due: none

Update conv.js
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

size bigger than 1TB bug fixed
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

add initial double login fix
  swift_browser_ui/ui/login.py
Due: mypy

allow new session for non-double login
  swift_browser_ui/ui/login.py
Due: mypy

Changelog bot 2025-02-07T09:53:55+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
