Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Update dependency csc-ui to v0.6.82
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

update python dependencies
  pyproject.toml
  requirements.txt
Due: none

Update dependabot/fetch-metadata action to v1.4.0
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/pnpm-dependabot.yml
Due: none

Add unit tests for download module
  tests/upload/test_download.py
Due: none

Add unit tests for cryptupload module
  tests/common/mockups.py
  tests/upload/test_cryptupload.py
  tests/upload/test_download.py
Due: none

Add coverage check to gitlab ci
  .coveragerc
  .gitlab-ci.yml
Due: none

Show toast when files to delete include subfolders
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Remove folder name setting to store
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Subfolder deletion ui added
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

update containers after deletion
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Empty container deleted without confirmation. Files in subfolders can be deleted when shown as paths
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  tatus
Due: eslint

Fix container fetch after deletion
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Don't add prefix when rendering as paths
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Language updated
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Remove unused deletion strings
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Go to folder with files or container after deletion
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint, pyspelling-frontend

Removed confirmation deleting empty containers, changed ENG toast texts, etc
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-frontend

Update changelog
  CHANGELOG.md
  tatus
Due: pyspelling-docs

Remove container fetch
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Update finnishwords.txt
  .github/config/.finnishwords.txt
Due: sort

add aspell to image for spellcheck
  dockerfiles/Dockerfile-ci
Due: none

add pyspelling to gitlab ci
  .github/config/.wordlist.txt
  .gitlab-ci.yml
Due: sort

update pre-commit packages
  .pre-commit-config.yaml
  pyproject.toml
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/ui/login.py
Due: mypy

Update changelog, remove unused code
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-docs

Stop adding files when upload cancelled
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Add path to files uploaded with button
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Do not re-add same files for upload
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

change initial file addition for upload bool to false
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

trim trailing whitespace
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Fix for missing translation in some parts of UI
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, pyspelling-frontend

Update Changelog
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Upload notification does not automatically close
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
Due: eslint

Fix ghost session by adding strict session checks
  CHANGELOG.md
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui/ui/server.py
  tests/ui_unit/test_front.py
  tests/ui_unit/test_middlewares.py
Due: mypy, pyspelling-docs

Toast appears if upload doesn't start in 1sec
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

dropFiles and inputFolder not cleared when starting upload
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint

Disable upload button on modal while adding files
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Disable upload button when uploading
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Remove legacy code
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix disabled upload button when cancelling upload
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/UploadNotification.vue
Due: eslint
