Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslit, sort, pyspelling-docs, pyspelling-frontend

eslit:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

deprecate libb64 as unnecessary
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
Due: eslit

Update .github/config/vault_policy.hcl
  .github/config/vault_policy.hcl
Due: none

remove discovery endpoint log
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

fix url rewrite when path is present
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/common/swift_sharing_request_bind.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

changelog for URL fixes
  CHANGELOG.md
Due: pyspelling-docs

unify pointer styling
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
Due: eslit

switch to redis library
  pyproject.toml
  requirements.txt
  swift_browser_ui/ui/server.py
  tox.ini
Due: none

add changelog to redis
  CHANGELOG.md
Due: pyspelling-docs

New way to prevent background scrolling to top when a modal is opened
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

Replace b-upload with a new component CUploadButton
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit, pyspelling-docs

fix URL base getting stripped
  swift_browser_ui_frontend/src/common/download.js
Due: eslit

small additions to pyproject.toml
  pyproject.toml
Due: none

remove static symlink from dockerfiles
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
Due: none

review improvements
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/src/common/download.js
Due: eslit

add ternary sharing
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

add decryption implementation
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
Due: eslit

add direct header put support for API clients
  swift_browser_ui/upload/api.py
Due: none

Replace buefy to csc-ui Autocomplete component
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslit

Update dependency to use csc-ui forked repo
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslit

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

Add renovate.json
  renovate.json
Due: none

make vite dev server work with the multipage setup
  swift_browser_ui_frontend/vite.config.js
Due: eslit

Allow running vite dev server in https mode
  .github/config/.env.test
  swift_browser_ui_frontend/vite.config.js
Due: eslit

fix libupload and websocket with tls proxy
  devproxy/nginx.conf
  swift_browser_ui_frontend/vite.config.js
Due: eslit

Remove unnecessary codes
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslit

Remove buefy dependency
  CHANGELOG.md
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/css/csc.scss
  swift_browser_ui_frontend/src/css/dark.scss
  swift_browser_ui_frontend/src/css/light.scss
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/select.js
Due: eslit, pyspelling-docs

Add 'scoped' to component style declarations
  swift_browser_ui_frontend/src/components/CUploadButton.vue
  swift_browser_ui_frontend/src/components/FolderTabs.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslit

Upgrade packages for vue3
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslit

Update configuration to vue3
  CHANGELOG.md
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/csc-ui-vue-directive.js
  swift_browser_ui_frontend/src/common/csc-ui.js
  swift_browser_ui_frontend/src/common/i18n.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/badrequest.js
  swift_browser_ui_frontend/src/entries/forbid.js
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/entries/notfound.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/entries/uidown.js
  swift_browser_ui_frontend/src/entries/unauth.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
  swift_browser_ui_frontend/vite.config.js
  vetur.config.js
  volar.config.js
Due: eslit, pyspelling-docs

Fix unauth path
  swift_browser_ui_frontend/src/common/api.js
Due: eslit

Fix changing projects
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit

Fix reactive component
  swift_browser_ui_frontend/src/views/Folders.vue
Due: eslit

fix login page init
  swift_browser_ui_frontend/.gitignore
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/entries/login.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

better project selection on init
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

Add IndexedDB workaround for early closing transactions
  swift_browser_ui_frontend/src/common/db.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

Path conditions:
  eslit: any of: ^swift_browser_ui_frontend
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
