Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslit, sort, pyspelling-docs, pyspelling-frontend

eslit:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Added new vocabulary items
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

Remove unused components and views
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/components/ACLDiscover.vue
  swift_browser_ui_frontend/src/components/ContainerDownloadLink.vue
  swift_browser_ui_frontend/src/components/ObjectDeleteButton.vue
  swift_browser_ui_frontend/src/components/ReplicateContainer.vue
  swift_browser_ui_frontend/src/components/RequestSharing.vue
  swift_browser_ui_frontend/src/components/ShareRequestsTable.vue
  swift_browser_ui_frontend/src/components/SharedDetails.vue
  swift_browser_ui_frontend/src/components/SharedMenu.vue
  swift_browser_ui_frontend/src/views/Dashboard.vue
  swift_browser_ui_frontend/src/views/DirectRequest.vue
  swift_browser_ui_frontend/src/views/DirectShare.vue
  swift_browser_ui_frontend/src/views/ShareRequests.vue
  swift_browser_ui_frontend/src/views/SharedFrom.vue
  swift_browser_ui_frontend/src/views/SharedTo.vue
Due: eslit, pyspelling-docs

Instruction and permission changes in ShareModal
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit, pyspelling-frontend

Fixed quotes
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Fixed line length
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Replace b-select with c-select
  CHANGELOG.md
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/pages/SelectPage.vue
Due: eslit, pyspelling-docs

Replace b-table with c-data-table
  CHANGELOG.md
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit, pyspelling-docs

Replace b-loading with c-loader and remove unused b-loading
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit, pyspelling-docs

Replace b-input with c-text-field
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit, pyspelling-docs

Replace b-button with c-button
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit, pyspelling-docs

Changed appearance of single project no. in nav
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit, pyspelling-frontend

Moved project member link up
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslit

Update FIN currentProj string
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

Fix pnpm update command
  .github/workflows/pnpm-dependabot.yml
Due: none

correct pnpm-lock path
  .github/workflows/pnpm-dependabot.yml
Due: none

Fix formatting
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit

only run pnpm when ecosystem is npm
  .github/workflows/pnpm-dependabot.yml
Due: none

standardize yaml style
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/publish.yml
  .github/workflows/spellcheck.yml
Due: none

run some tests when pushing to dependabot branches
  .github/workflows/docs.yml
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

use PAT for git push
  .github/workflows/docs.yml
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/pnpm-dependabot.yml
  .github/workflows/spellcheck.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Change buefy.dialogs to csc-ui modals
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectDeleteButton.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

Update CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

Fix style issues
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslit

Replaced refresh snackbar with toast
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Replaced snackbar with custom toast
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Remove 'this'
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Move strings to lang file
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit, pyspelling-frontend

Path conditions:
  eslit: any of: ^swift_browser_ui_frontend
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
