Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Changelog bot 2025-10-13T13:50:39+03:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Add project title to secondary nav bar
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Drop AUTH_* from Swift URLs, Ceph RGW change
  swift_browser_ui/ui/api.py
  swift_browser_ui/upload/common.py
Due: mypy

Changelog bot 2025-10-13T16:17:01+03:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

support retrieving ec2 credentials from the backend
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/login.py
  swift_browser_ui/ui/server.py
Due: mypy

proxy keystone-swift through nginx to enable TLS
  .github/config/.env.test
  Procfile
  devproxy/nginx.conf
Due: none

fix firefox incorrect policy causing cert issues
  Procfile
  devproxy/nginx.conf
  docker-compose-dev.yml
  swift_browser_ui_frontend/wasm/src/streamingupload.c
Due: eslint

add dev environment shorthands to makefile
  Makefile
Due: none

remove legacy aws-sdk and minio
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/src/common/s3conv.js
Due: eslint

allow using the S3 api in the frontend
  swift_browser_ui/ui/discover.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/vite.config.js
Due: eslint, mypy

add initial makefile for development resources
  Makefile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ff
  scripts/gen_ca.sh
Due: none

add programmatically generated dev ca and browser containers with trusted CAs
  Makefile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-dns
  devproxy/Dockerfile-ff
  devproxy/Dockerfile-nginx
  devproxy/dev_dnsmasq.conf
  devproxy/nginx.conf
  docker-compose-dev.yml
  scripts/gen_ca.sh
Due: none

use default ports for sd-connect and rgw proxies
  devproxy/nginx.conf
  docker-compose-dev.yml
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/vite.config.js
Due: eslint

add initial s3 upload and download
  .gitignore
  .gitmodules
  Makefile
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-headers.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
  swift_browser_ui_frontend/wasm/src/streamingupload.c
Due: eslint

add container publish client
  Procfile
  devproxy/nginx.conf
  swift_browser_ui/ui/discover.py
  swift_browser_ui/ui/settings.py
  swift_browser_ui_frontend/src/common/dominate.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, mypy

host ui behind dockerized dev stack
  .gitmodules
  Makefile
  Procfile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ui
  devproxy/Dockerfile-vault
  devproxy/nginx.conf
  docker-compose-dev.yml
  scripts/vault-docker.sh
Due: none

use s3 for creating and listing folders
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

fix multipart upload issues
  .gitignore
  Makefile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ff
  devproxy/nginx.conf
  docker-compose-dev.yml
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-headers.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/wasm-webpack.config.js
Due: eslint

fix incorrect file extension breaking decryption
  .dockerignore
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ui
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3upload.js
Due: eslint

fix incorrect import
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint

fix multipart upload issues
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

add s3 download worker socket
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-s3download.js
Due: eslint

remove swift dependencies from bucket operations and sharing
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

skip acl sync
  devproxy/Dockerfile-chrome
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

add s3 endpoint envar to default environment configuration
  .github/config/.env.test
Due: none

fix sharing permissions
  devproxy/nginx.conf
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Update .env.test
  .github/config/.env.test
Due: none

Update bucket validation for s3. Check is last bucket name char is allowed.
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Temporarily bypass CI test stage when merging to s3 feature branch
  .gitlab-ci.yml
Due: none

Apply 2 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

Fix bucket deletion
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Comment out updating tags when buckets and objects are updated
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Comment out tag input on bucket copy
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint

Match comment line length to code line length in eslint rules
  swift_browser_ui_frontend/eslint.config.mjs
Due: eslint

Get size and object count for own buckets
  swift_browser_ui_frontend/src/common/s3conv.js
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Comment out tag input on bucket creation
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
Due: eslint

Comment out tagging and search/filtering for buckets and objects
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Use bucket name validation in Copy modal. Don't add spaces to autosuggested name.
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint

Initial s3 bucket copy implementation
  pyproject.toml
  requirements.txt
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint, mypy
