Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Refactor codes regarding sharing to reduce requests in Container Table
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, pyspelling-docs

Fix typo for c4ghtransit
  swift_browser_ui/common/vault_client.py
Due: mypy

Add missing segment container when editing sharing permission
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Add drop file table data as external data
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Remove unnecessary function call
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

check for correct return value for no read access
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Don't add focus border on Support menu if modal closed with mouse click
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

Indicate when no filtering results found
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Show number of dropFiles without itemsPerPageOptions
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Move project info to support menu
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Update support menu and footer structure
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
Due: eslint, pyspelling-frontend

Revert "Show number of dropFiles without itemsPerPageOptions"
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update aria labels for changed nav
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint, pyspelling-frontend

Update all non-major dependencies
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
  pyproject.toml
  requirements.txt
Due: none

Real update for non-major frontend dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Revert to python 3.11
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

Temporary ignore uvloop error from mypy
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/server.py
Due: mypy

Update docker/build-push-action action to v5
  .github/workflows/publish.yml
Due: none

Fix drop files not getting appended
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Have dropdowns visible despite hidden overflow
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Calculate programatically the amount of scrolling needed to show c-select dropdown in table
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Prevent share modal content from overflowing
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Better calculation of c-select and scroll only for c-card-content in share modal
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

update upload runner backend
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/server.py
Due: mypy

fix incorrect project ID used in URL on upload
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

fix testing regressions from sharing uploads
  swift_browser_ui/sharing/server.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/download.js
Due: eslint, mypy

add project canonical name caching and checks
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, mypy

add shared download access
  Procfile
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, mypy

fix build time issues
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/common.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, mypy

add separate pre-script for service worker
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-pre-serviceworker.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
Due: eslint

new worker implementation
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/jsconfig.json
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/public/aggregatorsw.js
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
  swift_browser_ui_frontend/wasm/js/tar.js
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/include/streamingupload.h
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/wasm-webpack.config.js
Due: eslint, mypy

fix archive download issues
  scripts/vault.sh
  swift_browser_ui/common/vault_client.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
  swift_browser_ui_frontend/wasm/js/tar.js
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/wasm-webpack.config.js
Due: eslint, mypy

clean up old code, fix upload throttling
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/src/common/download.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post.js
  swift_browser_ui_frontend/wasm/js/crypt-pre-serviceworker.js
Due: eslint

free session key without killing the sodium canary
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/upcommon.c
Due: eslint

import delay for upload retry
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

use correct filename in tar archives
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-pre.js
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

properly wait for vault to start
  scripts/vault.sh
Due: none

fix incorrect file padding
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

use (un)packb instead of aliases in msgpack
  Procfile
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/cryptupload.py
Due: mypy

fix upload fail on stale websocket
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upinit.c
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
