Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Get rid of 500 error when fetching metadata
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Fix for IndexedDB updates when uploading large amount of files
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/wasm/src/streamingupload.c
Due: eslint, pyspelling-docs, pyspelling-frontend

Add segment folder always to copied containers. Have updateContainerMeta() wait for container to exist in backend
  swift_browser_ui/upload/replicate.py
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint, mypy

Fix result for shared folder
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Add prefix to search result paths
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint, pyspelling-frontend

Show subfolder that contains found file
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Add search route for shared containers
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Shared folders and items added to search results with correct route
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint, pyspelling-frontend

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Fixes for clarity, revert to separate db queries
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Fix for downloaded single file has size 0
  swift_browser_ui/common/vault_client.py
Due: mypy

Take into account the possibility that not all containers have segment files
  swift_browser_ui/upload/replicate.py
Due: mypy

Use object name instead of ID to filter objects since shared objects don't have IDs
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Update dependency dev/ruff to v0.0.272
  pyproject.toml
Due: none

Update dependency dev/pre-commit to v3.3.3
  pyproject.toml
Due: none

Replace c-flex with c-row so that Share button is not streched in firefox
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Change variable name to match changes
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Add generic error handling for backend apis
  CHANGELOG.md
  swift_browser_ui/common/common_middleware.py
  swift_browser_ui/request/server.py
  swift_browser_ui/sharing/server.py
  swift_browser_ui/upload/server.py
Due: mypy, pyspelling-docs

Filter for csc-projects with enabled access when the OIDC provider supports it
  CHANGELOG.md
  pyproject.toml
  swift_browser_ui/ui/login.py
Due: mypy, pyspelling-docs

Fix for missing favicon and banner from build
  CHANGELOG.md
  swift_browser_ui_frontend/src/entries/index.js
  swift_browser_ui_frontend/src/entries/index_oidc.js
  swift_browser_ui_frontend/src/entries/loginpassword.js
  swift_browser_ui_frontend/src/entries/select.js
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
Due: eslint, pyspelling-docs

wrong key in session for userinfo
  swift_browser_ui/ui/login.py
Due: mypy

Make breadcrumb routing depend on current route
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
Due: eslint

Add subfolders to search results
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

Make getting subfolder name concise
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Make getting subfolder name more concise
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Check if latest token identifier matches deleted
  swift_browser_ui_frontend/src/components/TokenModal.vue
Due: eslint

fixed other c-data-tables
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

added eslint exception
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

fixed footer options
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

fixed typos
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Correct strings and error codes for right toasts
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint, pyspelling-frontend

Sharing to the same container twice did not show toast since fetch() returns 409, not TypeError when this happens
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

unify sharing and request API databases
  .github/config/init-project-db.sh
  CHANGELOG.md
  swift_browser_ui/request/db.py
  swift_browser_ui/sharing/db.py
  swift_browser_ui/ui/signature.py
Due: mypy, pyspelling-docs

Update changelog
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-docs

Add debounce to folder name validation
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Remove duplicate func
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Validate folder name length when uploading
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Debounce at wait trailing edge if called more than once
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Add folder name length validation when copying, move unique name validation
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint
