Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Fix HeadBucket commands failing
  swift_browser_ui_frontend/src/common/s3commands.js
Due: eslint

Changelog bot 2026-01-08T13:58:54+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update frontend dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Add back forgotten external styling
  swift_browser_ui_frontend/src/assets/main.css
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix vite htmlPlugin returning undefined with vite v7
  swift_browser_ui_frontend/vite.config.js
Due: eslint

Changelog bot 2026-01-09T12:28:52+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

add persistent mounts for dev browsers to preserve settings
  .gitignore
  Makefile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ff
  docker-compose-dev.yml
Due: none

don't wipe browser settings on clean by default
  Makefile
Due: none

open dev browser directly to ui address
  Makefile
Due: none

add mounted .mozilla folder for dev firefox
  Makefile
  devproxy/Dockerfile-chrome
  devproxy/Dockerfile-ff
  docker-compose-dev.yml
Due: none

Changelog bot 2026-01-12T11:22:59+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

update dockerfile base images to something currentish
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

Changelog bot 2026-01-13T09:03:18+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Use command constructor for s3 error logging
  swift_browser_ui_frontend/src/common/s3commands.js
Due: eslint

Rename client as sharingClient
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Rearrange common functions according to purpose for clarity. Remove unused functions.
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/db.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/i18n.js
  swift_browser_ui_frontend/src/common/idb.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
  swift_browser_ui_frontend/src/common/s3init.js
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/common/tableFunctions.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/index_app_factory.js
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Refactor stale share deletion after a bucket is deleted
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Changelog bot 2026-01-14T08:13:15+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix upload header fetch requests overflowing event loop
  .dockerignore
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

Changelog bot 2026-01-14T13:19:56+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix upload not starting after cancelled uploads
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

Changelog bot 2026-01-15T11:29:13+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

correctly upload shared headers
  swift_browser_ui_frontend/src/common/s3upload.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

clean up console messaging in s3upload prod builds
  swift_browser_ui_frontend/src/common/s3upload.js
Due: eslint

ensure shared bucket access retention
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint, pyspelling-frontend

improve bucket ownership retention error message
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3download.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-01-16T15:40:59+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Display bucket metadata in object view
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/common/tableFunctions.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, sort, pyspelling-frontend

Do a CORS check before sharing sync
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/share.js
Due: eslint

Refactor IDB bucket update not to overwrite existing data
  swift_browser_ui_frontend/src/common/idbFunctions.js
Due: eslint

Changelog bot 2026-01-19T10:30:22+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix incorrect share id breaking share deletion
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Changelog bot 2026-01-19T13:31:17+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Fix bucket item count not resetting to zero after deletion
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Changelog bot 2026-01-20T09:28:26+02:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Refactor object table data fetch
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Refactor bucket copy. Fix progress toast hanging.
  swift_browser_ui/ui/api.py
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
Due: eslint, mypy

Changelog bot 2026-01-20T13:31:39+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
