Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

init
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/table-sharing.cy.js
Due: eslint

Fix test to find a shared folder in a multi-page table
  swift_browser_ui_frontend/src/components/UploadModal.vue
  tests/cypress/integration/table-sharing.cy.js
Due: eslint

Check for error alert when adding a duplicate file for upload test. Unify quotation marks
  swift_browser_ui_frontend/src/components/UploadModal.vue
  tests/cypress/integration/upload.cy.js
Due: eslint

Make cypress test formatting consistent
  tests/cypress/integration/browser.cy.js
  tests/cypress/integration/login.cy.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/support/commands.js
Due: none

Update browser tests
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/FolderTabs.vue
  tests/cypress/integration/browser.cy.js
  tests/cypress/support/commands.js
Due: eslint

added download test
  tests/cypress/integration/download.cy.js
Due: none

Test service worker file download
  swift_browser_ui_frontend/cypress.config.js
  tests/cypress/integration/download.cy.js
Due: eslint

Improve flaky logout command
  tests/cypress/support/commands.js
Due: none

Refactor container e2e tests
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  tests/cypress/integration/container.cy.js
Due: eslint

Add testid to progress toast
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

Reset DB between tests. Reset deletes containers in swift and admin projects
  tests/cypress/integration/container.cy.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/delete-swiftContainers.sh
Due: none

Add test for archive download with service worker
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  tests/cypress/integration/download.cy.js
  tests/cypress/support/commands.js
  tests/cypress/support/extractArchive.sh
Due: eslint

Test direct file download via OPFS
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  tests/cypress/integration/download.cy.js
  tests/cypress/support/commands.js
Due: eslint

Add test for direct archive download
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  tests/cypress/integration/download.cy.js
  tests/cypress/support/extractArchive.sh
Due: eslint

Add file download as part of e2e sharing test
  tests/cypress/integration/download.cy.js
  tests/cypress/integration/sharing.cy.js
Due: none

Delete fixtures between tests
  swift_browser_ui_frontend/cypress.config.js
  swift_browser_ui_frontend/eslint.config.mjs
  swift_browser_ui_frontend/package.json
  tests/cypress/integration/download.cy.js
  tests/cypress/integration/sharing.cy.js
  tests/cypress/integration/table-sharing.cy.js
  tests/cypress/integration/upload.cy.js
  tests/cypress/support/commands.js
Due: eslint

Changelog bot 2024-06-07T14:02:06+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix typo in dev mode definition
  swift_browser_ui_frontend/wasm/src/upinit.c
Due: eslint

Changelog bot 2024-06-14T09:35:44+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

fix undefined header breaking encrypted downloads
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

add linter changes in downworker
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

fix download status not updating for encrypted downloads
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Changelog bot 2024-06-17T07:40:43+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency test/pytest-cov to v5
  pyproject.toml
Due: none

Skip: Update all non-major dependencies
  pyproject.toml
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency test/setuptools to v70
  pyproject.toml
Due: none

Generate random download session id with crypto
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Changelog bot 2024-06-28T08:46:11+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Skip: Update dependency ui_test/pytest to v8
  pyproject.toml
Due: none

Update precommit config to protect main
  .pre-commit-config.yaml
Due: none

Skip: Update dependency certifi to v2024.7.4 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Upgrade dexie and disable liveQuery cache
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
  swift_browser_ui_frontend/src/common/db.js
Due: eslint

Changelog bot 2024-08-23T05:40:43+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Skip: Update dependency @vueuse/rxjs to v11
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Fix mypy errors
  pyproject.toml
  requirements.txt
  swift_browser_ui/upload/cryptupload.py
  swift_browser_ui/upload/replicate.py
Due: mypy

Skip: Update dependency aiohttp to v3.10.2 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Skip: Update dependency cryptography to v43
  pyproject.toml
  requirements.txt
Due: none

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
