Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

don't use TextEncoder for tar headers
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

Refactor code
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/tar.js
Due: eslint

Add folder paths to array as strings to fix adding tar subfolders
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

improve download buffering
  swift_browser_ui/ui/api.py
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/tar.js
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
Due: eslint, mypy

Fix downloading a single file instead of whole container due to misplaced bracket
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

Update changelog
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-docs, pyspelling-frontend

Rerender c-options when language is changed
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Fix flashing cselect
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Display all modals at same position
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Remove unnecessary var
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Assign none instead of null to reset styling
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Warn about ongoing download when switching projects
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Remove warning when downloading with service worker
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

Fix aunthentication and translation errors for Accessibility page
  CHANGELOG.md
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/components/MainToolbar.vue
  swift_browser_ui_frontend/src/entries/accessibility.js
  swift_browser_ui_frontend/src/pages/AccessibilityPage.vue
  swift_browser_ui_frontend/vite.config.js
Due: eslint, mypy, pyspelling-docs

Skip: Update dependency cryptography to v42.0.4 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Skip: Update all non-major dependencies
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Format and refactor Progress-components
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

Refactor upload notification components for additional download use
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadNotification.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Add and use ProgressBar component for both upload and direct download
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/DownloadNotification.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/UploadAlert.vue
  swift_browser_ui_frontend/src/components/UploadProgressBar.vue
  swift_browser_ui_frontend/src/components/UploadToast.vue
Due: eslint

Avoid repetition by emiting toggleSize events and moving download tracking to ProgressNotification
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

Remove uploadNotification.closable from store since it repeats isUploading
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ProgressNotification.vue
Due: eslint

Refactor progress bar
  swift_browser_ui_frontend/src/components/ProgressAlert.vue
  swift_browser_ui_frontend/src/components/ProgressBar.vue
  swift_browser_ui_frontend/src/components/ProgressToast.vue
Due: eslint

Changelog bot 2024-03-08T07:15:13+00:00 [ci skip]
  CHANGELOG.md
Due: pyspelling-docs

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Remove duplicate entry from changelog
  CHANGELOG.md
Due: pyspelling-docs

skip: add head to changelog
  CHANGELOG.md
Due: pyspelling-docs

fix set comparison to use lowercase
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint

replace v-html with v-if v-for
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/SearchResultItem.vue
Due: eslint, pyspelling-docs

fix removing v-html from shareguide list
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

refactor eslint configuration to allow camelcase for footerOptions
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

use i18n-t tags instead of v-html
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

remove eslint-disable
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint

Fix changelog format
  CHANGELOG.md
Due: pyspelling-docs

fix download segmentation off-by-one error
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

fix small files incorrectly terminating before decryption
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/server.py
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/test/test_streamingdownload.c
  tests/ui_unit/test_api.py
  tests/upload/test_api.py
Due: eslint, mypy

reduce download memory pressure by buffering
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
Due: eslint
