Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Fix subfolder changing last_modified value when sorting
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, pyspelling-docs

Disable download when shared with view
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Add shared with view status to object table
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, sort, pyspelling-frontend

Edit generic FIN sharing status
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Disable container download and copy with view perm
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Reorganising functions regarding keyboard navigation
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Fix keyboard navigation for Token Modal
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/TokenModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix keyboard navigation for Edit Tags modal
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix for auto focus on first field in modals. Remove focus on using mouse click.
  swift_browser_ui_frontend/src/common/keyboardNavigation.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix keyboard navigation for Upload modal
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Update keyboard navigation in Edit Tags modal for both Container and Object View
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix keyboard navigation for Create Folder modal
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

Fix keyboad navigation for Share modal
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix keyboard navigation for Delete Modal
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Fix keyboard navigation for Copy Folder modal
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint

Add focus to modal for both clicking and key pressing event
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Disable Download option for empty container and empty object
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Copied container size was updated too soon if there were a lot of objects
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint, pyspelling-docs

Update table based on number of objects in source container
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Remove unnecessary await
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Fix errors with missing params and not found route location
  swift_browser_ui_frontend/src/common/router.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint

Use existing 'active' variable for router link
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
Due: eslint

fix missed new line
  swift_browser_ui/sharing/api.py
Due: mypy

handle possible None as fetchrow return value
  swift_browser_ui/sharing/db.py
Due: mypy

properly check if the sharing id cache is empty
  swift_browser_ui/sharing/api.py
Due: mypy

Don't keep shared obj in cache when deleted
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Update shared objects in cache only from current container when updating containers
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Update all shared objects when not in object view
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Change whitelisted status to 404 for view permission
  swift_browser_ui_frontend/src/common/conv.js
Due: eslint

Update all non-major dependencies
  pyproject.toml
Due: none

Disable upload button in shared cont without manage rights
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslint

Don't allow uploading to existing container from prj root
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Refactor paragraph
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Change UI text. Fix validation
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

Add new words to FIN vocabulary
  .github/config/.finnishwords.txt
Due: sort

Change upload modal to upload to current container or create new in root. Add toasts
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Update dependency @testing-library/jest-dom to v6
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
