Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

add small mac shell compatibility fixes to makefile
  Makefile
Due: none

Changelog bot 2026-06-17T13:26:40+00:00
  CHANGELOG.md
Due: pyspelling-docs

WIP - Resolve pipeline
  swift_browser_ui_frontend/wasm/test/test_streamingupload.c
Due: eslint

Update dependency pnpm to v11 [SECURITY]
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Update dependency vite to v7.3.5 [SECURITY]
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency lodash to v4.18.1 [SECURITY]
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency pytest to v9 [SECURITY]
  pyproject.toml
Due: none

Opt out of RDoc ceedling source code scanning that causes installation failures
  .gitlab-ci.yml
Due: none

Upgrade uvloop to fix backend test job failing
  pyproject.toml
  requirements.txt
Due: none

Reverting temporarily allowing backend and wasm test failures
  .gitlab-ci.yml
Due: none

Update dependency aiohttp to v3.14.1 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Update mypy and fix test_token argument type
  pyproject.toml
  swift_browser_ui/ui/login.py
Due: mypy

Update dependency black to v26 [SECURITY]
  pyproject.toml
Due: none

Update dependency msgpack to v1.2.1 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Update dependency cryptography to v48 [SECURITY]
  pyproject.toml
  requirements.txt
Due: none

Fix faulty folder row selection by preserving top-level value
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Changelog bot 2026-07-27T11:08:45+03:00
  CHANGELOG.md
Due: pyspelling-docs

Update non-urgent conversion status text
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, sort, pyspelling-frontend

Changelog bot 2026-07-27T16:51:46+03:00
  CHANGELOG.md
Due: pyspelling-docs

Update eslint monorepo to v9.39.5
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency vue to v3.5.40
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Remove setuptools dependency
  pyproject.toml
Due: none

Update non-breaking non-major dependencies
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Repurpose indexedDB preferences object store to save display and pagination options. Remove unused code
  swift_browser_ui_frontend/src/common/idb.js
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/tableFunctions.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Changelog bot 2026-07-28T13:50:17+03:00
  CHANGELOG.md
Due: pyspelling-docs

Update dependency jest to v30.4.2
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Fix mypy error: backslash in formatted string
  swift_browser_ui/common/vault_client.py
Due: mypy

Fix pnpm pre-commit error
  .pre-commit-config.yaml
  scripts/eslint.sh
Due: none

Move s3 head bucket command to backend due to CORS preflight check failing
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/s3commands.js
  swift_browser_ui_frontend/src/components/CopyBucketModal.vue
  swift_browser_ui_frontend/src/components/CreateBucketModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, mypy

Changelog bot 2026-07-30T10:04:43+00:00
  CHANGELOG.md
Due: pyspelling-docs

Update dependency @vueuse/rxjs to v14.3.0
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency @aws-sdk/client-s3 to v3.1095.0
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update bucket table after sharing sync
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Throttle running the sharing sync
  swift_browser_ui_frontend/src/common/idbFunctions.js
  swift_browser_ui_frontend/src/common/share.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Changelog bot 2026-08-04T11:03:00+00:00
  CHANGELOG.md
Due: pyspelling-docs

Update dependency @testing-library/jest-dom to v7
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency @vueuse/rxjs to v14.4.0
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update eslint monorepo to v10
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Save logs to session storage and make them downloadable from support menu
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/logger.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint, sort, pyspelling-frontend

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
