Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Clarify upload file overwrite
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Fix for deleting > 100 objects with long object names
  CHANGELOG.md
  swift_browser_ui/ui/api.py
Due: mypy, pyspelling-docs

Update all non-major dependencies
  pyproject.toml
  requirements.txt
Due: none

Update actions/checkout action to v4
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/e2etests.yml
  .github/workflows/eslint.yml
  .github/workflows/pnpm-dependabot.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/spellcheck.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Add loader for copy modal
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint

Redirect to main page when session cannot be invalidated
  swift_browser_ui/ui/login.py
Due: mypy

Changed login button link. Refactored logout and logout test
  swift_browser_ui/ui/login.py
  swift_browser_ui_frontend/src/pages/IndexPage.vue
  tests/ui_unit/test_login.py
Due: eslint, mypy

Revert logout refactoring
  swift_browser_ui/ui/login.py
Due: mypy

Modify the way of deleting segment objects
  swift_browser_ui_frontend/src/components/DeleteModal.vue
Due: eslint

Optimise dispatch functions for updating containers' tags and objects' tags
  swift_browser_ui_frontend/src/common/store.js
Due: eslint

Have a separate function for updating objects and object tags.
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Combine updating objects and shared objects to one function. Separate updateObjects from updateContainers
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Add cont and obj table loaders
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

More refactoring
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix updating shared objects. Refactor. Add error logging in dev
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fix object update after upload
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Remove additional fetch for (you have shared) containers and their objects when updating container table
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Get rid of no longer used codes
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Clean up codes
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Remove cases of handling SharedObjects when editing tags and upload duplicate files
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Add shared objects to IDB
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/DeleteModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Optimise function for updating objects and shared objects' tags
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Stop cont and obj update after navigating away from container table
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslint

Reduce the amount of update for shared containers
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Update shared object routing in search
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Remove sharedConts
  swift_browser_ui_frontend/src/components/SearchBox.vue
Due: eslint

Check if cont was created with upload instead of showing 404
  swift_browser_ui_frontend/src/common/router.js
Due: eslint

Remove unused var
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Reset drop file errors. Update changelog
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-docs

Disallow uploading files with size 0. Show alert.
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Remove forked repo and update csc-ui to v0.9.3
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Fix unmatched styles
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint

Update dependency @intlify/unplugin-vue-i18n to v1
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency cypress to v13
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update dependency redis to v5
  pyproject.toml
  requirements.txt
Due: none

Add a check if a container has been shared to others when being deleted
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Remove shared containers when the owner container is deleted
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs

Update all non-major dependencies
  .github/workflows/spellcheck.yml
  pyproject.toml
  requirements.txt
Due: none

Actually update all non-major dependencies
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

Update to have correct URLs for deployment
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint
