Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
      exclude: swift_browser_ui_frontend/pnpm-lock.yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.259
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^swift_browser_ui/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      files: ^swift_browser_ui/

  - repo: local
    hooks:
    - id: eslint
      name: Lint frontend
      entry: ./scripts/eslint.sh
      args: [--prefix, swift_browser_ui_frontend, run, lint]
      files: ^swift_browser_ui_frontend
      language: system
      pass_filenames: false

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^swift_browser_ui/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true

    - id: sort
      name: sort dictionaries
      entry: ./scripts/sort.sh
      language: script
      files: ^.github/config/.*.txt
      require_serial: true
      pass_filenames: false

    - id: pyspelling-docs
      name: spellcheck markdown and documentation
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-frontend
      name: spellcheck frontend strings
      entry: ./scripts/pyspelling.sh
      language: script
      args: [frontend]
      types: [javascript]
      files: swift_browser_ui_frontend/src/common/lang.js
      require_serial: true

Remove modal toasts on closing
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslint, sort

Update dependency @intlify/unplugin-vue-i18n to ^0.10.0
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

always run on merge request
  .gitlab-ci.yml
Due: none

show date in FIN with FIN locale
  swift_browser_ui/sharing/db.py
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, mypy

trim whitespace
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Update dependency @vueuse/rxjs to v10
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

working breadcrumb links
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Breadcrumb component added
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
Due: eslint

trim whitespace
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
Due: eslint

Update sharing info when page refreshed
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Fixed bradcrumb links
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
Due: eslint

Home is always AllFolders. Changed c-links to router links.
  swift_browser_ui_frontend/src/components/BreadcrumbNav.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add comments
  swift_browser_ui_frontend/src/common/upload.js
Due: eslint

Change button order and text in blue toolbar
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslint, pyspelling-frontend

Fix upload progress bar
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/UploadProgressBar.vue
Due: eslint

Reset progress after upload
  swift_browser_ui_frontend/src/common/upload.js
Due: eslint

redis==4.5.4 in pyproject.toml
  pyproject.toml
Due: none

Update dependency redis to v4.5.4
  requirements.txt
Due: none

python-swiftclient==4.3.0 in pyproject.toml
  pyproject.toml
Due: none

Update dependency python-swiftclient to v4.3.0
  requirements.txt
Due: none

Update dependency cryptography to v40
  requirements.txt
Due: none

cryptography==40.0.1 in pytproject.toml
  pyproject.toml
Due: none

Add unit tests for upload module
  tests/common/mockups.py
  tests/request/test_api.py
  tests/sharing/test_api.py
  tests/ui_unit/test_api.py
  tests/ui_unit/test_health.py
  tests/upload/test_upload.py
Due: none

Add different api unit tests
  tests/common/mockups.py
  tests/request/test_api.py
  tests/sharing/test_api.py
  tests/ui_unit/test_api.py
Due: none

Add ui health unit tests
  swift_browser_ui/ui/health.py
  tests/common/mockups.py
  tests/ui_unit/test_health.py
Due: mypy

Fix for showing correct folder name when refreshing Upload view
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix for uploading folder with special chars resulted in multiple copied folders
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

default python versions changed in readme
  README.md
Due: pyspelling-docs

allow to skip deploy pipeline in MR
  .gitlab-ci.yml
Due: none

require at least 1 approval from group
  CODEOWNERS
Due: none

add CODEOWNERS default to group
  CODEOWNERS
Due: none

Change csc-ui package to its latest version
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

API token lang update
  swift_browser_ui_frontend/src/common/lang.js
Due: eslint, pyspelling-frontend

Fix for creating and uploading to a folder works at the same time
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Fix ghost session by adding strict session checks
  swift_browser_ui/ui/middlewares.py
  swift_browser_ui/ui/server.py
  tests/ui_unit/test_front.py
  tests/ui_unit/test_middlewares.py
Due: mypy

Update README.md
  README.md
Due: pyspelling-docs

Fix sorting datatables
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, pyspelling-docs
