Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, sort, pyspelling-docs, pyspelling-frontend

eslint:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --no-namespace-packages
  require_serial: true

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

update Makefile with correct paths for wasm binary stubs
  swift_browser_ui_frontend/wasm/Makefile
Due: eslint

fix typo in downworker
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

refactor upload file existence check
  swift_browser_ui/upload/cryptupload.py
Due: mypy

remove ServiceWorker forced debug
  swift_browser_ui_frontend/src/common/socket.js
Due: eslint

prune unused code from encryption
  swift_browser_ui_frontend/wasm/Makefile
  swift_browser_ui_frontend/wasm/src/include/streamingdownload.h
  swift_browser_ui_frontend/wasm/src/include/streamingupload.h
  swift_browser_ui_frontend/wasm/src/include/upcommon.h
  swift_browser_ui_frontend/wasm/src/include/upinit.h
  swift_browser_ui_frontend/wasm/src/include/upload.h
  swift_browser_ui_frontend/wasm/src/include/uptypes.h
  swift_browser_ui_frontend/wasm/src/streamingdownload.c
  swift_browser_ui_frontend/wasm/src/streamingupload.c
  swift_browser_ui_frontend/wasm/src/upcommon.c
  swift_browser_ui_frontend/wasm/src/upinit.c
  swift_browser_ui_frontend/wasm/src/upload.c
Due: eslint

prune progress updates
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadProgressBar.vue
Due: eslint

add msgpack to dependencies
  pyproject.toml
  requirements.txt
  tests/upload/test_cryptupload.py
Due: none

use current folder if set
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

remove upload retry on worker failure
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

update pnpm lock
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

move webpack to production dependencies
  swift_browser_ui_frontend/package.json
Due: eslint

increment changelog
  CHANGELOG.md
Due: pyspelling-docs

Add notification for failed upload
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, pyspelling-frontend

fix pnpm-lock conflicts
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslint

add handlers for new wasm files
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  swift_browser_ui/ui/front.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/build_wasm.sh
Due: eslint, mypy

Add error notification when folder for upload cannot be created
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

Change error msg when folder name is used in another project
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint, sort, pyspelling-frontend

properly wait for module initialization before sodium_init
  swift_browser_ui_frontend/build_wasm.sh
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
Due: eslint

fix ServiceWorker premature close due to mismatching chunk types
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-docs

add support for subfolder downloads
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, pyspelling-docs

Hide itemsPerPage from drop file table
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

fix shared upload regressions
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
Due: eslint

fix shared download regressions
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/socket.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint, pyspelling-docs

split signed fetch requests to a convenience function
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/entries/main.js
Due: eslint

Update Changelog and have better function description
  CHANGELOG.md
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
Due: mypy, pyspelling-docs

Add missing functionality for changing access in container acl
  swift_browser_ui/ui/api.py
  swift_browser_ui/ui/server.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
Due: eslint, mypy

Update to modify specific container access control instead of replacing the whole list
  swift_browser_ui/ui/api.py
Due: mypy

Newly created folder is temporarily shown first in table
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
Due: eslint

When uploading, new folder shown on top and loading icon used
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslint

Update CHANGELOG.md
  CHANGELOG.md
Due: pyspelling-docs

fix incorrect escape in archive download regex
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
Due: eslint

add prototype override checks to workers
  CHANGELOG.md
  swift_browser_ui_frontend/wasm/js/crypt-post-downworker.js
  swift_browser_ui_frontend/wasm/js/crypt-post-upworker.js
  swift_browser_ui_frontend/wasm/js/nameCheck.js
Due: eslint, pyspelling-docs

copy encrypted object headers in replicator
  CHANGELOG.md
  swift_browser_ui/upload/api.py
  swift_browser_ui/upload/replicate.py
  swift_browser_ui_frontend/src/common/api.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  tests/upload/test_api.py
Due: eslint, mypy, pyspelling-docs

fix non-shared copy not copying headers
  swift_browser_ui/upload/replicate.py
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
Due: eslint, mypy

Update vocabulary
  .github/config/.finnishwords.txt
Due: sort

Warn user if archive cannot be downloaded due to name limits
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CObjectTable.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint, sort, pyspelling-frontend

Disable download of empty container. Disable options on shared empty container
  swift_browser_ui_frontend/src/components/ContainerTable.vue
Due: eslint

Update changelog, remove console log
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/CObjectTable.vue
Due: eslint, pyspelling-docs

Add modal to confirm navigating away from prj with ongoing upload
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/common/store.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslint, pyspelling-frontend

Update FIN vocabulary and changelog
  .github/config/.finnishwords.txt
  CHANGELOG.md
Due: sort, pyspelling-docs

Path conditions:
  eslint: any of: ^swift_browser_ui_frontend
  mypy: any of: ^swift_browser_ui/ and \.py$
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
