Repository CSCfi/swift-browser-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslit, sort, pyspelling-docs, pyspelling-frontend

eslit:
  name: Lint frontend
  entry: ./scripts/eslint.sh
  args:
  - --prefix
  - swift_browser_ui_frontend
  - run
  - lint
  language: system
  pass_filenames: false

sort:
  name: sort dictionaries
  entry: ./scripts/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pyspelling-docs:
  name: spellcheck markdown and documentation
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-frontend:
  name: spellcheck frontend strings
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - frontend
  require_serial: true

Add HTML attributes to elements improve accessibility
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareModalTable.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/pages/IndexOIDCPage.vue
  swift_browser_ui_frontend/src/pages/LoginPassword.vue
  swift_browser_ui_frontend/src/pages/SelectPage.vue
  swift_browser_ui_frontend/src/views/Folders.vue
Due: eslit

Fix for BrowserPage's structure and Footer component
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/upload.js
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

Add Finnish translation for aria-label
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserMainNavbar.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/CFooter.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/FolderTabs.vue
  swift_browser_ui_frontend/src/components/SearchBox.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/ShareRequestsTable.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit, sort, pyspelling-frontend

Update Changelog
  .github/config/.finnishwords.txt
  CHANGELOG.md
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit, sort, pyspelling-docs

Fix for tooltip
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit

Save Display Options to IDB for ObjectsTable
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Save Display Options for IDB for ContainersTable
  swift_browser_ui_frontend/src/components/Containers.vue
Due: eslit

Update Changelog
  CHANGELOG.md
Due: pyspelling-docs

Fix vault instructions
  .github/config/.env.test
  README.md
Due: pyspelling-docs

Update dockerfiles to use pyproject.toml
  dockerfiles/Dockerfile-build-crypt
  dockerfiles/Dockerfile-build-crypt-devel
  dockerfiles/Dockerfile-request
  dockerfiles/Dockerfile-runner
  dockerfiles/Dockerfile-sharing
  dockerfiles/Dockerfile-ui
  dockerfiles/Dockerfile-ui-devel
Due: none

Update pnpm packages
  swift_browser_ui_frontend/package.json
  swift_browser_ui_frontend/pnpm-lock.yaml
Due: eslit

Trigger other workflows on pull_request as well
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/spellcheck.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Add workflow for updating pnpm packages
  .github/workflows/pnpm-autoupdate.yml
Due: none

use default branch to test
  .github/workflows/pnpm-autoupdate.yml
Due: none

fix
  .github/workflows/pnpm-autoupdate.yml
Due: none

Trigger workflows on pull_request instead of push
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/spellcheck.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/vueunit.yml
Due: none

Replaced buefy toasts with CSC components
  swift_browser_ui_frontend/src/components/ACLDiscover.vue
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ObjectDeleteButton.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
  swift_browser_ui_frontend/src/components/SharedDetails.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
  swift_browser_ui_frontend/src/entries/main.js
  swift_browser_ui_frontend/src/views/DirectShare.vue
  swift_browser_ui_frontend/src/views/Tokens.vue
Due: eslit

Create TagInput component and replace Buefy Taginput
  .github/config/.finnishwords.txt
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/EditTagsModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/views/DirectShare.vue
Due: eslit, sort, pyspelling-frontend

Update Changelog
  CHANGELOG.md
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/UploadModal.vue
Due: eslit, pyspelling-docs

Add focus for Taginput field and reintroduce Keys for creating tags
  swift_browser_ui_frontend/src/common/conv.js
  swift_browser_ui_frontend/src/common/globalFunctions.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
Due: eslit

Deletion toasts moved to bottom
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/components/ContainerTable.vue
  swift_browser_ui_frontend/src/components/Containers.vue
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Set TagInput border color same as csc-ui components by default
  swift_browser_ui_frontend/src/components/CopyFolderModal.vue
  swift_browser_ui_frontend/src/components/CreateFolderModal.vue
  swift_browser_ui_frontend/src/components/ShareModal.vue
  swift_browser_ui_frontend/src/components/TagInput.vue
  swift_browser_ui_frontend/src/pages/BrowserPage.vue
Due: eslit

Fix automated pnpm updated by not running the workflow on the update branch
  .github/workflows/pnpm-autoupdate.yml
Due: none

update pnpm when dependabot opens a PR
  .github/workflows/pnpm-autoupdate.yml
  .github/workflows/pnpm-dependabot.yml
Due: none

Updated changelog
  CHANGELOG.md
Due: pyspelling-docs

Replaced snackbar with custom toast
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Move strings to lang file
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
Due: eslit, pyspelling-frontend

Replaced refresh snackbar with toast
  swift_browser_ui_frontend/src/components/BrowserSecondaryNavbar.vue
  swift_browser_ui_frontend/src/entries/main.js
Due: eslit

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Remove 'this'
  swift_browser_ui_frontend/src/components/ObjectTable.vue
Due: eslit

Updated ENG and some FIN text with Aino
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, pyspelling-frontend

Added new vocabulary items
  .github/config/.finnishwords.txt
  .github/config/.wordlist.txt
  swift_browser_ui_frontend/src/common/lang.js
Due: eslit, sort, pyspelling-frontend

Instruction and permission changes in ShareModal
  swift_browser_ui_frontend/src/common/lang.js
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit, pyspelling-frontend

Fixed quotes
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Fixed line length
  swift_browser_ui_frontend/src/components/ShareModal.vue
Due: eslit

Path conditions:
  eslit: any of: ^swift_browser_ui_frontend
  sort: any of: ^.github/config/.*.txt
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-frontend: any of: swift_browser_ui_frontend/src/common/lang.js and \.(js|mjs|cjs)$
